
$dialogue-avatar-size-default: 4rem !default;
$dialogue-avatar-size-small: 3rem !default;
$dialogue-avatar-size-large: 5rem !default;
$dialogue-avatar-top-offset: 1rem !default;
$dialogue-name-font-size: 1rem !default;
$dialogue-name-padding-x: 1rem !default;
$dialogue-name-padding-y: 0.5rem !default;
$dialogue-messege-arrow-width: 1rem !default;
$dialogue-messege-arrow-height: 1rem !default;
$dialogue-message-inner-padding-x: 1rem !default;
$dialogue-message-inner-padding-y: 1rem !default;
