
$animation-speed-heavy: 4s !default;
$animation-speed-slower: 3s !default;
$animation-speed-slow: 2s !default;
$animation-speed-normal: 1s !default;
$animation-speed-fast: 750ms !default;
$animation-speed-faster: 500ms !default;
$animation-speed-flash: 250ms !default;
