
$border-width-xthin: 0.05rem !default;
$border-width-thin: 0.075rem !default;
$border-width-medium: 0.1rem !default;
$border-width-thick: 0.15rem !default;
$border-width-xthick: 0.2rem !default;
$border-width-xxthick: 0.25rem !default;
$border-width-xxxthick: 0.5rem !default;

$border-radius-xsmall: 0.125rem !default;
$border-radius-small: 0.25rem !default;
$border-radius-medium: 0.5rem !default;
$border-radius-large: 0.75rem !default;
$border-radius-xlarge: 1rem !default;
$border-radius-circle: 50% !default;
$border-radius-pill: 50rem !default;

$borderSides: (
  "top",
  "right",
  "bottom",
  "left",
);

$borderStyles: (
  "solid",
  "dashed",
  "dotted",
);

$borderWidths: (
  (
    "name": "xthin",
    "value": $border-radius-small,
  ),
  (
    "name": "thin",
    "value": $border-radius-medium,
  ),
  (
    "name": "medium",
    "value": $border-radius-large,
  ),
  (
    "name": "thick",
    "value": $border-radius-xlarge,
  ),
  (
    "name": "xthick",
    "value": $border-radius-circle,
  ),
  (
    "name": "xxthick",
    "value": $border-radius-pill,
  ),
  (
    "name": "xxxthick",
    "value": $border-radius-pill,
  ),
) !default;

$borderRadiuses: (
  (
    "name": "xsmall",
    "value": $border-radius-xsmall,
  ),
  (
    "name": "small",
    "value": $border-radius-small,
  ),
  (
    "name": "medium",
    "value": $border-radius-medium,
  ),
  (
    "name": "large",
    "value": $border-radius-large,
  ),
  (
    "name": "xlarge",
    "value": $border-radius-xlarge,
  ),
  (
    "name": "circle",
    "value": $border-radius-circle,
  ),
  (
    "name": "pill",
    "value": $border-radius-pill,
  ),
) !default;
