@use "sass:color";
@use "../functions/index.scss" as functions;

//#region define color settings

$color-lightness-white: 95% !default;
$color-lightness-black: 14% !default;

$color-lightness-50: 50% !default;
$color-lightness-offset-lighter: 5% !default;
$color-lightness-offset-darker: -4% !default;

$color-chroma-gray: 0.02 !default;
$color-chroma-colorful: 0.18 !default;
$color-chroma-colorful-offset-lighter: -0.01 !default;
$color-chroma-colorful-offset-darker: -0.01 !default;

$color-hue-gray: 290 !default;
$color-hue-red: 0 !default;
$color-hue-orange: 70 !default;
$color-hue-yellow: 90 !default;
$color-hue-lime: 120 !default;
$color-hue-green: 150 !default;
$color-hue-cyan: 190 !default;
$color-hue-blue: 240 !default;
$color-hue-violet: 290 !default;
$color-hue-magenta: 340 !default;

//#endregion define color settings

//#region define color shades array

//#region color-light-lightness

$color-light-lightness-fore: 5 !default;
$color-light-lightness-back: 95 !default;
$color-light-lightness-border: 70 !default;
$color-light-lightness-placeholder: 70 !default;
$color-light-lightness-shadow: 70 !default;

//#region color-light-lightness-dot
$color-light-lightness-dot-fore: 85 !default;
$color-light-lightness-dot-back: 95 !default;
//#endregion color-light-lightness-dot

//#region color-light-lightness-gingham
$color-light-lightness-gingham-fore: 85 !default;
$color-light-lightness-gingham-back: 95 !default;
//#endregion color-light-lightness-gingham

//#region color-light-lightness-stripe
$color-light-lightness-stripe-fore: 85 !default;
$color-light-lightness-stripe-back: 95 !default;
//#endregion color-light-lightness-stripe

//#region color-dark-lightness-accordion
$color-light-lightness-accordion-fore: 5 !default;
$color-light-lightness-accordion-back: 95 !default;
$color-light-lightness-accordion-border: 70 !default;
$color-light-lightness-accordion-summary-fore: 5 !default;
$color-light-lightness-accordion-summary-back: 70 !default;
$color-light-lightness-accordion-summary-border: 70 !default;
$color-light-lightness-accordion-details-fore: 5 !default;
$color-light-lightness-accordion-details-back: 95 !default;
$color-light-lightness-accordion-details-border: 70 !default;
//#endregion color-dark-lightness-accordion

//#region color-light-lightness-button
$color-light-lightness-button-fore: 5 !default;
$color-light-lightness-button-back: 70 !default;
$color-light-lightness-button-border: 70 !default;
$color-light-lightness-button-shadow: 70 !default;
//#endregion color-light-lightness-button

//#region color-light-lightness-badge
$color-light-lightness-badge-fore: 5 !default;
$color-light-lightness-badge-back: 85 !default;
$color-light-lightness-badge-border: 70 !default;
//#endregion color-light-lightness-badge

//#region color-light-lightness-blockquote
$color-light-lightness-blockquote-fore: 50 !default;
$color-light-lightness-blockquote-back: 90 !default;
$color-light-lightness-blockquote-border: 50 !default;
//#endregion color-light-lightness-blockquote

//#region color-light-lightness-card
$color-light-lightness-card-fore: 5 !default;
$color-light-lightness-card-back: 70 !default;
$color-light-lightness-card-border: 70 !default;
$color-light-lightness-card-shadow: 30 !default;
$color-light-lightness-card-header-fore: 5 !default;
$color-light-lightness-card-header-back: 70 !default;
$color-light-lightness-card-body-fore: 5 !default;
$color-light-lightness-card-body-back: 90 !default;
$color-light-lightness-card-footer-fore: 5 !default;
$color-light-lightness-card-footer-back: 80 !default;
//#endregion color-light-lightness-card

//#region color-dark-lightness-dialogue
$color-light-lightness-dialogue-fore: 5 !default;
$color-light-lightness-dialogue-back: 95 !default;
$color-light-lightness-dialogue-border: 70 !default;
$color-light-lightness-dialogue-shadow: 70 !default;
$color-light-lightness-dialogue-avatar-fore: 5 !default;
$color-light-lightness-dialogue-avatar-back: 95 !default;
$color-light-lightness-dialogue-avatar-border: 70 !default;
$color-light-lightness-dialogue-name-fore: 5 !default;
$color-light-lightness-dialogue-name-back: 95 !default;
$color-light-lightness-dialogue-name-border: 70 !default;
$color-light-lightness-dialogue-name-shadow: 70 !default;
$color-light-lightness-dialogue-message-fore: 5 !default;
$color-light-lightness-dialogue-message-back: 95 !default;
$color-light-lightness-dialogue-message-border: 70 !default;
//#endregion color-dark-lightness-dialogue

//#region color-light-lightness-header
$color-light-lightness-header-fore: 5 !default;
$color-light-lightness-header-back: 70 !default;
$color-light-lightness-header-shadow: 70 !default;
//#endregion color-light-lightness-header

//#region color-light-lightness-label
$color-light-lightness-label-fore: 70 !default;
//#endregion color-light-lightness-label

//#region color-light-lightness-link
$color-light-lightness-link-fore: 70 !default;
//#endregion color-light-lightness-link

//#region color-light-lightness-loader
$color-light-lightness-loader-fore: 70 !default;
//#endregion color-light-lightness-loader

//#region color-light-lightness-message
$color-light-lightness-message-fore: 5 !default;
$color-light-lightness-message-back: 70 !default;
$color-light-lightness-message-border: 70 !default;
$color-light-lightness-message-header-fore: 5 !default;
$color-light-lightness-message-header-back: 70 !default;
$color-light-lightness-message-body-fore: 5 !default;
$color-light-lightness-message-body-back: 90 !default;
//#endregion color-light-lightness-card

//#region color-light-lightness-progress
$color-light-lightness-progress-fore: 70 !default;
$color-light-lightness-progress-back: 95 !default;
//#endregion color-light-lightness-progress

//#endregion color-light-lightness

//#region color-dark-lightness

$color-dark-lightness-fore: 95 !default;
$color-dark-lightness-back: 5 !default;
$color-dark-lightness-border: 50 !default;
$color-dark-lightness-placeholder: 50 !default;
$color-dark-lightness-shadow: 50 !default;

//#region color-dark-lightness-dot
$color-dark-lightness-dot-fore: 5 !default;
$color-dark-lightness-dot-back: 15 !default;
//#endregion color-dark-lightness-dot

//#region color-dark-lightness-gingham
$color-dark-lightness-gingham-fore: 5 !default;
$color-dark-lightness-gingham-back: 15 !default;
//#endregion color-dark-lightness-gingham

//#region color-dark-lightness-stripe
$color-dark-lightness-stripe-fore: 5 !default;
$color-dark-lightness-stripe-back: 15 !default;
//#endregion color-dark-lightness-stripe

//#region color-dark-lightness-accordion
$color-dark-lightness-accordion-fore: 95 !default;
$color-dark-lightness-accordion-back: 5 !default;
$color-dark-lightness-accordion-border: 30 !default;
$color-dark-lightness-accordion-summary-fore: 95 !default;
$color-dark-lightness-accordion-summary-back: 30 !default;
$color-dark-lightness-accordion-summary-border: 30 !default;
$color-dark-lightness-accordion-details-fore: 95 !default;
$color-dark-lightness-accordion-details-back: 5 !default;
$color-dark-lightness-accordion-details-border: 30 !default;
//#endregion color-dark-lightness-accordion

//#region color-light-lightness-badge
$color-dark-lightness-badge-fore: 95 !default;
$color-dark-lightness-badge-back: 15 !default;
$color-dark-lightness-badge-border: 30 !default;
//#endregion color-light-lightness-badge

//#region color-light-lightness-blockquote
$color-dark-lightness-blockquote-fore: 70 !default;
$color-dark-lightness-blockquote-back: 20 !default;
$color-dark-lightness-blockquote-border: 70 !default;
//#endregion color-light-lightness-blockquote

//#region color-dark-lightness-button
$color-dark-lightness-button-fore: 95 !default;
$color-dark-lightness-button-back: 30 !default;
$color-dark-lightness-button-border: 30 !default;
$color-dark-lightness-button-shadow: 30 !default;
//#endregion color-dark-lightness-button

//#region color-dark-lightness-card
$color-dark-lightness-card-fore: 95 !default;
$color-dark-lightness-card-back: 5 !default;
$color-dark-lightness-card-border: 30 !default;
$color-dark-lightness-card-shadow: 30 !default;
$color-dark-lightness-card-header-fore: 95 !default;
$color-dark-lightness-card-header-back: 50 !default;
$color-dark-lightness-card-body-fore: 95 !default;
$color-dark-lightness-card-body-back: 10 !default;
$color-dark-lightness-card-footer-fore: 95 !default;
$color-dark-lightness-card-footer-back: 20 !default;
//#endregion color-dark-lightness-card

//#region color-dark-lightness-dialogue
$color-dark-lightness-dialogue-fore: 95 !default;
$color-dark-lightness-dialogue-back: 5 !default;
$color-dark-lightness-dialogue-border: 50 !default;
$color-dark-lightness-dialogue-shadow: 50 !default;
$color-dark-lightness-dialogue-avatar-fore: 95 !default;
$color-dark-lightness-dialogue-avatar-back: 5 !default;
$color-dark-lightness-dialogue-avatar-border: 50 !default;
$color-dark-lightness-dialogue-name-fore: 95 !default;
$color-dark-lightness-dialogue-name-back: 5 !default;
$color-dark-lightness-dialogue-name-border: 50 !default;
$color-dark-lightness-dialogue-name-shadow: 50 !default;
$color-dark-lightness-dialogue-message-fore: 95 !default;
$color-dark-lightness-dialogue-message-back: 5 !default;
$color-dark-lightness-dialogue-message-border: 50 !default;
//#endregion color-dark-lightness-dialogue

//#region color-dark-lightness-header
$color-dark-lightness-header-fore: 95 !default;
$color-dark-lightness-header-back: 30 !default;
$color-dark-lightness-header-shadow: 30 !default;
//#endregion color-dark-lightness-header

//#region color-dark-lightness-label
$color-dark-lightness-label-fore: 80 !default;
//#endregion color-dark-lightness-label

//#region color-dark-lightness-link
$color-dark-lightness-link-fore: 80 !default;
//#endregion color-dark-lightness-link

//#region color-dark-lightness-loader
$color-dark-lightness-loader-fore: 80 !default;
//#endregion color-dark-lightness-loader

//#region color-dark-lightness-progress
$color-dark-lightness-progress-fore: 80 !default;
//#endregion color-dark-lightness-progress

//#region color-dark-lightness-message
$color-dark-lightness-message-fore: 95 !default;
$color-dark-lightness-message-back: 5 !default;
$color-dark-lightness-message-border: 30 !default;
$color-dark-lightness-message-header-fore: 95 !default;
$color-dark-lightness-message-header-back: 50 !default;
$color-dark-lightness-message-body-fore: 95 !default;
$color-dark-lightness-message-body-back: 5 !default;
//#endregion color-dark-lightness-card

//#region color-light-lightness-progress
$color-dark-lightness-progress-fore: 80 !default;
$color-dark-lightness-progress-back: 5 !default;
//#endregion color-light-lightness-progress

//#endregion color-dark-lightness

//#region color-lightness-offset

$color-light-lightness-offset-disabled-fore: 30 !default;
$color-dark-lightness-offset-disabled-fore: -30 !default;
$color-lightness-offset-disabled: 0 !default;
$color-lightness-offset-focus: 20 !default;
$color-lightness-offset-hover: 5 !default;
$color-lightness-offset-active: -5 !default;
$color-lightness-offset-visited: 0 !default;

//#endregion color-lightness-offset

//#region colorShadesLight

$colorShadesLight: (
  //#region plain
  (
      name: "plain",
      fore: functions.zeroPadding($color-light-lightness-fore, 2),
      back: functions.zeroPadding($color-light-lightness-back, 2),
      border: functions.zeroPadding($color-light-lightness-border, 2),
      placeholder: functions.zeroPadding($color-light-lightness-placeholder, 2),
      shadow: functions.zeroPadding($color-light-lightness-shadow, 2),
      dot: (
        fore: functions.zeroPadding($color-light-lightness-dot-fore, 2),
        back: functions.zeroPadding($color-light-lightness-dot-back, 2),
      ),
      gingham: (
        fore: functions.zeroPadding($color-light-lightness-gingham-fore, 2),
        back: functions.zeroPadding($color-light-lightness-gingham-back, 2),
      ),
      stripe: (
        fore: functions.zeroPadding($color-light-lightness-stripe-fore, 2),
        back: functions.zeroPadding($color-light-lightness-stripe-back, 2),
      ),
      accordion: (
        fore: functions.zeroPadding($color-light-lightness-accordion-fore, 2),
        back: functions.zeroPadding($color-light-lightness-accordion-back, 2),
        border:
          functions.zeroPadding($color-light-lightness-accordion-border, 2),
        accordionSummary: (
          fore:
            functions.zeroPadding(
              $color-light-lightness-accordion-summary-fore,
              2
            ),
          back:
            functions.zeroPadding(
              $color-light-lightness-accordion-summary-back,
              2
            ),
          border:
            functions.zeroPadding(
              $color-light-lightness-accordion-summary-border,
              2
            ),
        ),
        accordionDetails: (
          fore:
            functions.zeroPadding(
              $color-light-lightness-accordion-details-fore,
              2
            ),
          back:
            functions.zeroPadding(
              $color-light-lightness-accordion-details-back,
              2
            ),
          border:
            functions.zeroPadding(
              $color-light-lightness-accordion-details-border,
              2
            ),
        ),
      ),
      badge: (
        fore: functions.zeroPadding($color-light-lightness-badge-fore, 2),
        back: functions.zeroPadding($color-light-lightness-badge-back, 2),
        border: functions.zeroPadding($color-light-lightness-badge-border, 2),
      ),
      blockquote: (
        fore: functions.zeroPadding($color-light-lightness-blockquote-fore, 2),
        back: functions.zeroPadding($color-light-lightness-blockquote-back, 2),
        border: functions.zeroPadding($color-light-lightness-blockquote-border, 2),
      ),
      button: (
        fore: functions.zeroPadding($color-light-lightness-button-fore, 2),
        back: functions.zeroPadding($color-light-lightness-button-back, 2),
        border: functions.zeroPadding($color-light-lightness-button-border, 2),
        shadow: functions.zeroPadding($color-light-lightness-button-shadow, 2),
      ),
      card: (
        fore: functions.zeroPadding($color-light-lightness-card-fore, 2),
        back: functions.zeroPadding($color-light-lightness-card-back, 2),
        border: functions.zeroPadding($color-light-lightness-card-border, 2),
        shadow: functions.zeroPadding($color-light-lightness-card-shadow, 2),
        cardHeader: (
          fore:
            functions.zeroPadding($color-light-lightness-card-header-fore, 2),
          back:
            functions.zeroPadding($color-light-lightness-card-header-back, 2),
        ),
        cardBody: (
          fore: functions.zeroPadding($color-light-lightness-card-body-fore, 2),
          back: functions.zeroPadding($color-light-lightness-card-body-back, 2),
        ),
        cardFooter: (
          fore:
            functions.zeroPadding($color-light-lightness-card-footer-fore, 2),
          back:
            functions.zeroPadding($color-light-lightness-card-footer-back, 2),
        ),
      ),
      dialogue: (
        fore: functions.zeroPadding($color-light-lightness-dialogue-fore, 2),
        back: functions.zeroPadding($color-light-lightness-dialogue-back, 2),
        border: functions.zeroPadding($color-light-lightness-dialogue-border, 2),
        dialogueAvatar: (
          fore: functions.zeroPadding($color-light-lightness-dialogue-avatar-fore, 2),
          back: functions.zeroPadding($color-light-lightness-dialogue-avatar-back, 2),
          border: functions.zeroPadding($color-light-lightness-dialogue-avatar-border, 2),
        ),
        dialogueName: (
          fore: functions.zeroPadding($color-light-lightness-dialogue-name-fore, 2),
          back: functions.zeroPadding($color-light-lightness-dialogue-name-back, 2),
          border: functions.zeroPadding($color-light-lightness-dialogue-name-border, 2),
          shadow: functions.zeroPadding($color-light-lightness-dialogue-name-shadow, 2),
        ),
        dialogueMessage: (
          fore: functions.zeroPadding($color-light-lightness-dialogue-message-fore, 2),
          back: functions.zeroPadding($color-light-lightness-dialogue-message-back, 2),
          border: functions.zeroPadding($color-light-lightness-dialogue-message-border, 2),
        ),
      ),
      header: (
        fore: functions.zeroPadding($color-light-lightness-header-fore, 2),
        back: functions.zeroPadding($color-light-lightness-header-back, 2),
        shadow: functions.zeroPadding($color-light-lightness-header-shadow, 2),
      ),
      label: (
        fore: functions.zeroPadding($color-light-lightness-label-fore, 2),
      ),
      loader: (
        fore: functions.zeroPadding($color-light-lightness-loader-fore, 2),
      ),
      link: (
        fore: functions.zeroPadding($color-light-lightness-link-fore, 2),
      ),
      message: (
        fore: functions.zeroPadding($color-light-lightness-message-fore, 2),
        back: functions.zeroPadding($color-light-lightness-message-back, 2),
        border: functions.zeroPadding($color-light-lightness-message-border, 2),
        messageHeader: (
          fore:
            functions.zeroPadding($color-light-lightness-message-header-fore, 2),
          back:
            functions.zeroPadding($color-light-lightness-message-header-back, 2),
        ),
        messageBody: (
          fore:
            functions.zeroPadding($color-light-lightness-message-body-fore, 2),
          back:
            functions.zeroPadding($color-light-lightness-message-body-back, 2),
        ),
      ),
      progress: (
        fore: functions.zeroPadding($color-light-lightness-progress-fore, 2),
        back: functions.zeroPadding($color-light-lightness-progress-back, 2),
      ),
    ),
  //#endregion plain
  //#region disabled
  (
      name: "disabled",
      fore:
        functions.zeroPadding(
          $color-light-lightness-fore +
            $color-light-lightness-offset-disabled-fore,
          2
        ),
      back:
        functions.zeroPadding(
          $color-light-lightness-back + $color-lightness-offset-disabled,
          2
        ),
      border:
        functions.zeroPadding(
          $color-light-lightness-border + $color-lightness-offset-disabled,
          2
        ),
      placeholder:
        functions.zeroPadding(
          $color-light-lightness-placeholder + $color-lightness-offset-disabled,
          2
        ),
      shadow:
        functions.zeroPadding(
          $color-light-lightness-shadow + $color-lightness-offset-disabled,
          2
        ),
      accordion: (
        accordionSummary: (
          fore:
            functions.zeroPadding(
              $color-light-lightness-accordion-summary-fore +
                $color-light-lightness-offset-disabled-fore,
              2
            ),
          back:
            functions.zeroPadding(
              $color-light-lightness-accordion-summary-back +
                $color-lightness-offset-disabled,
              2
            ),
          border:
            functions.zeroPadding(
              $color-light-lightness-accordion-summary-border +
                $color-lightness-offset-disabled,
              2
            ),
        ),
      ),
      badge: (
        fore:
          functions.zeroPadding(
            $color-light-lightness-badge-fore +
              $color-light-lightness-offset-disabled-fore,
            2
          ),
        back:
          functions.zeroPadding(
            $color-light-lightness-badge-back + $color-lightness-offset-disabled,
            2
          ),
        border:
          functions.zeroPadding(
            $color-light-lightness-badge-border +
              $color-lightness-offset-disabled,
            2
          ),
      ),
      button: (
        fore:
          functions.zeroPadding(
            $color-light-lightness-button-fore +
              $color-light-lightness-offset-disabled-fore,
            2
          ),
        back:
          functions.zeroPadding(
            $color-light-lightness-button-back +
              $color-lightness-offset-disabled,
            2
          ),
        border:
          functions.zeroPadding(
            $color-light-lightness-button-border +
              $color-lightness-offset-disabled,
            2
          ),
        shadow:
          functions.zeroPadding(
            $color-light-lightness-button-shadow +
              $color-lightness-offset-disabled,
            2
          ),
      ),
    ),
  //#endregion disabled
  //#region hover
  (
      name: "hover",
      fore:
        functions.zeroPadding(
          $color-light-lightness-fore + $color-lightness-offset-hover,
          2
        ),
      back:
        functions.zeroPadding(
          $color-light-lightness-back + $color-lightness-offset-hover,
          2
        ),
      border:
        functions.zeroPadding(
          $color-light-lightness-border + $color-lightness-offset-hover,
          2
        ),
      placeholder:
        functions.zeroPadding(
          $color-light-lightness-placeholder + $color-lightness-offset-hover,
          2
        ),
      shadow:
        functions.zeroPadding(
          $color-light-lightness-shadow + $color-lightness-offset-hover,
          2
        ),
      accordion: (
        accordionSummary: (
          fore:
            functions.zeroPadding(
              $color-light-lightness-accordion-summary-fore,
              2
            ),
          back:
            functions.zeroPadding(
              $color-light-lightness-accordion-summary-back +
                $color-lightness-offset-hover,
              2
            ),
        ),
      ),
      badge: (
        fore: functions.zeroPadding($color-light-lightness-badge-fore, 2),
        back:
          functions.zeroPadding(
            $color-light-lightness-badge-back + $color-lightness-offset-hover,
            2
          ),
        border:
          functions.zeroPadding(
            $color-light-lightness-badge-border + $color-lightness-offset-hover,
            2
          ),
      ),
      button: (
        fore: functions.zeroPadding($color-light-lightness-button-fore, 2),
        back:
          functions.zeroPadding(
            $color-light-lightness-button-back + $color-lightness-offset-hover,
            2
          ),
        border:
          functions.zeroPadding(
            $color-light-lightness-button-border + $color-lightness-offset-hover,
            2
          ),
        shadow: "50",
      ),
    ),
  //#endregion hover
  //#region focus
  (
      name: "focus",
      fore: functions.zeroPadding($color-light-lightness-fore, 2),
      back: functions.zeroPadding($color-light-lightness-back, 2),
      border:
        functions.zeroPadding(
          $color-light-lightness-border + $color-lightness-offset-focus,
          2
        ),
      placeholder: functions.zeroPadding($color-light-lightness-placeholder, 2),
      shadow: functions.zeroPadding($color-light-lightness-shadow, 2),
      accordion: (
        accordionSummary: (
          fore:
            functions.zeroPadding(
              $color-light-lightness-accordion-summary-fore,
              2
            ),
          back:
            functions.zeroPadding(
              $color-light-lightness-accordion-summary-back,
              2
            ),
        ),
      ),
      badge: (
        fore: functions.zeroPadding($color-light-lightness-badge-fore, 2),
        back: functions.zeroPadding($color-light-lightness-badge-back, 2),
        border: functions.zeroPadding($color-light-lightness-badge-border, 2),
      ),
      button: (
        fore: functions.zeroPadding($color-light-lightness-button-fore, 2),
        back: functions.zeroPadding($color-light-lightness-button-back, 2),
        border: functions.zeroPadding($color-light-lightness-button-border, 2),
        shadow: functions.zeroPadding($color-light-lightness-button-shadow, 2),
      ),
    ),
  //#endregion focus
  //#region active
  (
      name: "active",
      fore:
        functions.zeroPadding(
          $color-light-lightness-fore + $color-lightness-offset-active,
          2
        ),
      back:
        functions.zeroPadding(
          $color-light-lightness-back + $color-lightness-offset-active,
          2
        ),
      border:
        functions.zeroPadding(
          $color-light-lightness-border + $color-lightness-offset-active,
          2
        ),
      placeholder:
        functions.zeroPadding(
          $color-light-lightness-placeholder + $color-lightness-offset-active,
          2
        ),
      shadow:
        functions.zeroPadding(
          $color-light-lightness-shadow + $color-lightness-offset-active,
          2
        ),
      accordion: (
        accordionSummary: (
          fore:
            functions.zeroPadding(
              $color-light-lightness-accordion-summary-fore,
              2
            ),
          back:
            functions.zeroPadding(
              $color-light-lightness-accordion-summary-back +
                $color-lightness-offset-active,
              2
            ),
        ),
      ),
      badge: (
        fore: functions.zeroPadding($color-light-lightness-button-fore, 2),
        back:
          functions.zeroPadding(
            $color-light-lightness-badge-back + $color-lightness-offset-active,
            2
          ),
        border:
          functions.zeroPadding(
            $color-light-lightness-badge-border + $color-lightness-offset-active,
            2
          ),
      ),
      button: (
        fore: functions.zeroPadding($color-light-lightness-button-fore, 2),
        back:
          functions.zeroPadding(
            $color-light-lightness-button-back + $color-lightness-offset-active,
            2
          ),
        border:
          functions.zeroPadding(
            $color-light-lightness-button-border +
              $color-lightness-offset-active,
            2
          ),
        shadow: functions.zeroPadding($color-light-lightness-button-shadow, 2),
      ),
    ),
  //#endregion active
  //#region visited
  (
    name: "visited",
    fore:
      functions.zeroPadding(
        $color-light-lightness-fore + $color-lightness-offset-visited,
        2
      ),
    back:
      functions.zeroPadding(
        $color-light-lightness-back + $color-lightness-offset-visited,
        2
      ),
    border:
      functions.zeroPadding(
        $color-light-lightness-border + $color-lightness-offset-visited,
        2
      ),
    placeholder:
      functions.zeroPadding(
        $color-light-lightness-placeholder + $color-lightness-offset-visited,
        2
      ),
    shadow:
      functions.zeroPadding(
        $color-light-lightness-shadow + $color-lightness-offset-visited,
        2
      ),
    badge: (
      fore: functions.zeroPadding($color-light-lightness-badge-fore, 2),
      back: functions.zeroPadding($color-light-lightness-badge-back, 2),
      border: functions.zeroPadding($color-light-lightness-badge-border, 2),
    ),
    button: (
      fore: functions.zeroPadding($color-light-lightness-button-fore, 2),
      back: functions.zeroPadding($color-light-lightness-button-back, 2),
      border: functions.zeroPadding($color-light-lightness-button-border, 2),
      shadow: functions.zeroPadding($color-light-lightness-button-shadow, 2),
    ),
    link: (
      fore:
        functions.zeroPadding(
          $color-light-lightness-link-fore + $color-lightness-offset-visited,
          2
        ),
    ),
  )
  //#endregion visited
);

//#endregion colorShadesLight

//#region colorShadesDark

$colorShadesDark: (
  //#region plain
  (
      name: "plain",
      fore: functions.zeroPadding($color-dark-lightness-fore, 2),
      back: functions.zeroPadding($color-dark-lightness-back, 2),
      border: functions.zeroPadding($color-dark-lightness-border, 2),
      placeholder: functions.zeroPadding($color-dark-lightness-placeholder, 2),
      shadow: functions.zeroPadding($color-dark-lightness-shadow, 2),
      dot: (
        fore: functions.zeroPadding($color-dark-lightness-dot-fore, 2),
        back: functions.zeroPadding($color-dark-lightness-dot-back, 2),
      ),
      gingham: (
        fore: functions.zeroPadding($color-dark-lightness-gingham-fore, 2),
        back: functions.zeroPadding($color-dark-lightness-gingham-back, 2),
      ),
      stripe: (
        fore: functions.zeroPadding($color-dark-lightness-stripe-fore, 2),
        back: functions.zeroPadding($color-dark-lightness-stripe-back, 2),
      ),
      accordion: (
        fore: functions.zeroPadding($color-dark-lightness-accordion-fore, 2),
        back: functions.zeroPadding($color-dark-lightness-accordion-back, 2),
        border: functions.zeroPadding($color-dark-lightness-accordion-border, 2),
        accordionSummary: (
          fore:
            functions.zeroPadding(
              $color-dark-lightness-accordion-summary-fore,
              2
            ),
          back:
            functions.zeroPadding(
              $color-dark-lightness-accordion-summary-back,
              2
            ),
          border:
            functions.zeroPadding(
              $color-dark-lightness-accordion-summary-border,
              2
            ),
        ),
        accordionDetails: (
          fore:
            functions.zeroPadding(
              $color-dark-lightness-accordion-details-fore,
              2
            ),
          back:
            functions.zeroPadding(
              $color-dark-lightness-accordion-details-back,
              2
            ),
          border:
            functions.zeroPadding(
              $color-dark-lightness-accordion-details-border,
              2
            ),
        ),
      ),
      badge: (
        fore: functions.zeroPadding($color-dark-lightness-badge-fore, 2),
        back: functions.zeroPadding($color-dark-lightness-badge-back, 2),
        border: functions.zeroPadding($color-dark-lightness-badge-border, 2),
      ),
      blockquote: (
        fore: functions.zeroPadding($color-dark-lightness-blockquote-fore, 2),
        back: functions.zeroPadding($color-dark-lightness-blockquote-back, 2),
        border: functions.zeroPadding($color-dark-lightness-blockquote-border, 2),
      ),
      button: (
        fore: functions.zeroPadding($color-dark-lightness-button-fore, 2),
        back: functions.zeroPadding($color-dark-lightness-button-back, 2),
        border: functions.zeroPadding($color-dark-lightness-button-border, 2),
        shadow: functions.zeroPadding($color-dark-lightness-button-shadow, 2),
      ),
      card: (
        fore: functions.zeroPadding($color-dark-lightness-card-fore, 2),
        back: functions.zeroPadding($color-dark-lightness-card-back, 2),
        border: functions.zeroPadding($color-dark-lightness-card-border, 2),
        shadow: functions.zeroPadding($color-dark-lightness-card-shadow, 2),
        cardHeader: (
          fore: functions.zeroPadding($color-dark-lightness-card-header-fore, 2),
          back: functions.zeroPadding($color-dark-lightness-card-header-back, 2),
        ),
        cardBody: (
          fore: functions.zeroPadding($color-dark-lightness-card-body-fore, 2),
          back: functions.zeroPadding($color-dark-lightness-card-body-back, 2),
        ),
        cardFooter: (
          fore: functions.zeroPadding($color-dark-lightness-card-footer-fore, 2),
          back: functions.zeroPadding($color-dark-lightness-card-footer-back, 2),
        ),
      ),
      dialogue: (
        fore: functions.zeroPadding($color-dark-lightness-dialogue-fore, 2),
        back: functions.zeroPadding($color-dark-lightness-dialogue-back, 2),
        border: functions.zeroPadding($color-dark-lightness-dialogue-border, 2),
        dialogueAvatar: (
          fore: functions.zeroPadding($color-dark-lightness-dialogue-avatar-fore, 2),
          back: functions.zeroPadding($color-dark-lightness-dialogue-avatar-back, 2),
          border: functions.zeroPadding($color-dark-lightness-dialogue-avatar-border, 2),
        ),
        dialogueName: (
          fore: functions.zeroPadding($color-dark-lightness-dialogue-name-fore, 2),
          back: functions.zeroPadding($color-dark-lightness-dialogue-name-back, 2),
          border: functions.zeroPadding($color-dark-lightness-dialogue-name-border, 2),
          shadow: functions.zeroPadding($color-dark-lightness-dialogue-name-shadow, 2),
        ),
        dialogueMessage: (
          fore: functions.zeroPadding($color-dark-lightness-dialogue-message-fore, 2),
          back: functions.zeroPadding($color-dark-lightness-dialogue-message-back, 2),
          border: functions.zeroPadding($color-dark-lightness-dialogue-message-border, 2),
        ),
      ),
      header: (
        fore: functions.zeroPadding($color-dark-lightness-header-fore, 2),
        back: functions.zeroPadding($color-dark-lightness-header-back, 2),
        shadow: functions.zeroPadding($color-dark-lightness-header-shadow, 2),
      ),
      label: (
        fore: functions.zeroPadding($color-dark-lightness-label-fore, 2),
      ),
      link: (
        fore: functions.zeroPadding($color-dark-lightness-link-fore, 2),
      ),
      loader: (
        fore: functions.zeroPadding($color-dark-lightness-loader-fore, 2),
      ),
      message: (
        fore: functions.zeroPadding($color-dark-lightness-message-fore, 2),
        back: functions.zeroPadding($color-dark-lightness-message-back, 2),
        border: functions.zeroPadding($color-dark-lightness-message-border, 2),
        messageHeader: (
          fore:
            functions.zeroPadding($color-dark-lightness-message-header-fore, 2),
          back:
            functions.zeroPadding($color-dark-lightness-message-header-back, 2),
        ),
        messageBody: (
          fore:
            functions.zeroPadding($color-dark-lightness-message-body-fore, 2),
          back:
            functions.zeroPadding($color-dark-lightness-message-body-back, 2),
        ),
      ),
      progress: (
        fore: functions.zeroPadding($color-dark-lightness-progress-fore, 2),
        back: functions.zeroPadding($color-dark-lightness-progress-back, 2),
      ),
    ),
  //#endregion plain
  //#region disabled
  (
      name: "disabled",
      fore:
        functions.zeroPadding(
          $color-dark-lightness-fore + $color-dark-lightness-offset-disabled-fore,
          2
        ),
      back:
        functions.zeroPadding(
          $color-dark-lightness-back + $color-lightness-offset-disabled,
          2
        ),
      border:
        functions.zeroPadding(
          $color-dark-lightness-border + $color-lightness-offset-disabled,
          2
        ),
      placeholder:
        functions.zeroPadding(
          $color-dark-lightness-placeholder + $color-lightness-offset-disabled,
          2
        ),
      shadow:
        functions.zeroPadding(
          $color-dark-lightness-shadow + $color-lightness-offset-disabled,
          2
        ),
      accordion: (
        accordionSummary: (
          fore:
            functions.zeroPadding(
              $color-dark-lightness-accordion-summary-fore +
              $color-dark-lightness-offset-disabled-fore,
              2
            ),
          back:
            functions.zeroPadding(
              $color-dark-lightness-accordion-summary-back +
                $color-lightness-offset-disabled,
              2
            ),
          border:
            functions.zeroPadding(
              $color-dark-lightness-accordion-summary-border +
                $color-lightness-offset-disabled,
              2
            ),
        ),
      ),
      badge: (
        fore:
          functions.zeroPadding(
            $color-dark-lightness-badge-fore +
            $color-dark-lightness-offset-disabled-fore,
            2
          ),
        back:
          functions.zeroPadding(
            $color-dark-lightness-badge-back + $color-lightness-offset-disabled,
            2
          ),
        border:
          functions.zeroPadding(
            $color-dark-lightness-badge-border +
              $color-lightness-offset-disabled,
            2
          ),
      ),
      button: (
        fore:
          functions.zeroPadding(
            $color-dark-lightness-button-fore +
            $color-dark-lightness-offset-disabled-fore,
            2
          ),
        back:
          functions.zeroPadding(
            $color-dark-lightness-button-back + $color-lightness-offset-disabled,
            2
          ),
        border:
          functions.zeroPadding(
            $color-dark-lightness-button-border +
              $color-lightness-offset-disabled,
            2
          ),
        shadow:
          functions.zeroPadding(
            $color-dark-lightness-button-shadow +
              $color-lightness-offset-disabled,
            2
          ),
      ),
    ),
  //#endregion disabled
  //#region hover
  (
      name: "hover",
      fore:
        functions.zeroPadding(
          $color-dark-lightness-fore + $color-lightness-offset-hover,
          2
        ),
      back:
        functions.zeroPadding(
          $color-dark-lightness-back + $color-lightness-offset-hover,
          2
        ),
      border:
        functions.zeroPadding(
          $color-dark-lightness-border + $color-lightness-offset-hover,
          2
        ),
      placeholder:
        functions.zeroPadding(
          $color-dark-lightness-placeholder + $color-lightness-offset-hover,
          2
        ),
      shadow:
        functions.zeroPadding(
          $color-dark-lightness-shadow + $color-lightness-offset-hover,
          2
        ),
      accordion: (
        accordionSummary: (
          fore:
            functions.zeroPadding(
              $color-dark-lightness-accordion-summary-fore,
              2
            ),
          back:
            functions.zeroPadding(
              $color-dark-lightness-accordion-summary-back +
                $color-lightness-offset-hover,
              2
            ),
        ),
      ),
      badge: (
        fore: functions.zeroPadding($color-dark-lightness-badge-fore, 2),
        back:
          functions.zeroPadding(
            $color-dark-lightness-badge-back + $color-lightness-offset-hover,
            2
          ),
        border:
          functions.zeroPadding(
            $color-dark-lightness-badge-border + $color-lightness-offset-hover,
            2
          ),
      ),
      button: (
        fore: functions.zeroPadding($color-dark-lightness-button-fore, 2),
        back:
          functions.zeroPadding(
            $color-dark-lightness-button-back + $color-lightness-offset-hover,
            2
          ),
        border:
          functions.zeroPadding(
            $color-dark-lightness-button-border + $color-lightness-offset-hover,
            2
          ),
        shadow: "50",
      ),
    ),
  //#endregion hover
  //#region focus
  (
      name: "focus",
      fore: functions.zeroPadding($color-dark-lightness-fore, 2),
      back: functions.zeroPadding($color-dark-lightness-back, 2),
      border:
        functions.zeroPadding(
          $color-dark-lightness-border + $color-lightness-offset-focus,
          2
        ),
      placeholder: functions.zeroPadding($color-dark-lightness-placeholder, 2),
      shadow: functions.zeroPadding($color-dark-lightness-shadow, 2),
      accordion: (
        accordionSummary: (
          fore: "95",
          back: "30",
          border: "50",
        ),
      ),
      badge: (
        fore: functions.zeroPadding($color-dark-lightness-badge-fore, 2),
        back: functions.zeroPadding($color-dark-lightness-badge-back, 2),
        border: functions.zeroPadding($color-dark-lightness-badge-border, 2),
      ),
      button: (
        fore: functions.zeroPadding($color-dark-lightness-button-fore, 2),
        back: functions.zeroPadding($color-dark-lightness-button-back, 2),
        border: functions.zeroPadding($color-dark-lightness-button-border, 2),
        shadow: functions.zeroPadding($color-dark-lightness-button-shadow, 2),
      ),
    ),
  //#endregion focus
  //#region active
  (
      name: "active",
      fore:
        functions.zeroPadding(
          $color-dark-lightness-fore + $color-lightness-offset-active,
          2
        ),
      back:
        functions.zeroPadding(
          $color-dark-lightness-back + $color-lightness-offset-active,
          2
        ),
      border:
        functions.zeroPadding(
          $color-dark-lightness-border + $color-lightness-offset-active,
          2
        ),
      placeholder:
        functions.zeroPadding(
          $color-dark-lightness-placeholder + $color-lightness-offset-active,
          2
        ),
      shadow:
        functions.zeroPadding(
          $color-dark-lightness-shadow + $color-lightness-offset-active,
          2
        ),
      accordion: (
        accordionSummary: (
          fore:
            functions.zeroPadding(
              $color-dark-lightness-accordion-summary-fore,
              2
            ),
          back:
            functions.zeroPadding(
              $color-dark-lightness-accordion-summary-back +
                $color-lightness-offset-active,
              2
            ),
        ),
      ),
      badge: (
        fore: functions.zeroPadding($color-dark-lightness-button-fore, 2),
        back:
          functions.zeroPadding(
            $color-dark-lightness-badge-back + $color-lightness-offset-active,
            2
          ),
        border:
          functions.zeroPadding(
            $color-dark-lightness-badge-border + $color-lightness-offset-active,
            2
          ),
      ),
      button: (
        fore: functions.zeroPadding($color-dark-lightness-button-fore, 2),
        back:
          functions.zeroPadding(
            $color-dark-lightness-button-back + $color-lightness-offset-active,
            2
          ),
        border:
          functions.zeroPadding(
            $color-dark-lightness-button-border + $color-lightness-offset-active,
            2
          ),
        shadow: functions.zeroPadding($color-dark-lightness-button-shadow, 2),
      ),
    ),
  //#endregion active
  //#region visited
  (
      name: "visited",
      fore:
        functions.zeroPadding(
          $color-dark-lightness-fore + $color-lightness-offset-visited,
          2
        ),
      back:
        functions.zeroPadding(
          $color-dark-lightness-back + $color-lightness-offset-visited,
          2
        ),
      border:
        functions.zeroPadding(
          $color-dark-lightness-border + $color-lightness-offset-visited,
          2
        ),
      placeholder:
        functions.zeroPadding(
          $color-dark-lightness-placeholder + $color-lightness-offset-visited,
          2
        ),
      shadow:
        functions.zeroPadding(
          $color-dark-lightness-shadow + $color-lightness-offset-visited,
          2
        ),
      badge: (
        fore: functions.zeroPadding($color-dark-lightness-badge-fore, 2),
        back: functions.zeroPadding($color-dark-lightness-badge-back, 2),
        border: functions.zeroPadding($color-dark-lightness-badge-border, 2),
      ),
      button: (
        fore: functions.zeroPadding($color-dark-lightness-button-fore, 2),
        back: functions.zeroPadding($color-dark-lightness-button-back, 2),
        border: functions.zeroPadding($color-dark-lightness-button-border, 2),
        shadow: functions.zeroPadding($color-dark-lightness-button-shadow, 2),
      ),
      link: (
        fore:
          functions.zeroPadding(
            $color-light-lightness-link-fore + $color-lightness-offset-visited,
            2
          ),
      ),
    )
    //#endregion visited
);

//#endregion colorShadesDark

//#endregion define color shades array

//#region define colorNames array

$colors: (
  (
    "name": "gray",
    "hue": $color-hue-gray,
  ),
  (
    "name": "red",
    "hue": $color-hue-red,
  ),
  (
    "name": "orange",
    "hue": $color-hue-orange,
  ),
  (
    "name": "yellow",
    "hue": $color-hue-yellow,
  ),
  (
    "name": "green",
    "hue": $color-hue-green,
  ),
  (
    "name": "cyan",
    "hue": $color-hue-cyan,
  ),
  (
    "name": "blue",
    "hue": $color-hue-blue,
  ),
  (
    "name": "violet",
    "hue": $color-hue-violet,
  ),
  (
    "name": "magenta",
    "hue": $color-hue-magenta,
  )
) !default;

//#endregion define colorNames array
