@use "sass:color";
@use "sass:list";
@use "../functions/index.scss" as functions;

//#region define color settings
$color-lightness-05: 10%;
$color-lightness-95: 90%;

$color-chroma-gray: 0.02 !default;

$color-chroma-colorful-50: 0.14 !default;
$color-chroma-colorful-offset-lighter: 0 !default;
$color-chroma-colorful-offset-darker: 0 !default;

$color-hue-gray: 290 !default;
$color-hue-red: 0 !default;
$color-hue-coral: 40 !default;
$color-hue-orange: 70 !default;
$color-hue-yellow: 90 !default;
$color-hue-lime: 120 !default;
$color-hue-green: 150 !default;
$color-hue-cyan: 190 !default;
$color-hue-blue: 240 !default;
$color-hue-violet: 290 !default;
$color-hue-magenta: 340 !default;

//#endregion define color settings

$color-light-lightness-fore: 5 !default;
$color-light-lightness-back: 95 !default;
$color-light-lightness-border: 70 !default;
$color-light-lightness-placeholder: 50 !default;
$color-light-lightness-shadow: 50 !default;
$color-light-lightness-scrollbar-thumb: 30 !default;
$color-light-lightness-scrollbar-track: 70 !default;

$color-dark-lightness-fore: 95 !default;
$color-dark-lightness-back: 5 !default;
$color-dark-lightness-border: 30 !default;
$color-dark-lightness-placeholder: 50 !default;
$color-dark-lightness-shadow: 50 !default;
$color-dark-lightness-scrollbar-thumb: 70 !default;
$color-dark-lightness-scrollbar-track: 30 !default;

//#region color-lightness-dot
$color-light-lightness-dot-fore: 85 !default;
$color-light-lightness-dot-back: 95 !default;

$color-dark-lightness-dot-fore: 15 !default;
$color-dark-lightness-dot-back: 5 !default;
//#endregion color-lightness-dot

//#region color-lightness-gingham
$color-light-lightness-gingham-fore: 85 !default;
$color-light-lightness-gingham-back: 95 !default;

$color-dark-lightness-gingham-fore: 15 !default;
$color-dark-lightness-gingham-back: 5 !default;
//#endregion color-lightness-gingham

//#region color-lightness-rhombus
$color-light-lightness-rhombus-fore: 85 !default;
$color-light-lightness-rhombus-back: 95 !default;

$color-dark-lightness-rhombus-fore: 15 !default;
$color-dark-lightness-rhombus-back: 5 !default;
//#endregion color-lightness-rhombus

//#region color-lightness-stripe
$color-light-lightness-stripe-fore: 85 !default;
$color-light-lightness-stripe-back: 95 !default;

$color-dark-lightness-stripe-fore: 15 !default;
$color-dark-lightness-stripe-back: 5 !default;
//#endregion color-lightness-stripe

//#region color-lightness-zigzag
$color-light-lightness-zigzag-fore: 85 !default;
$color-light-lightness-zigzag-back: 95 !default;

$color-dark-lightness-zigzag-fore: 15 !default;
$color-dark-lightness-zigzag-back: 5 !default;
//#endregion color-lightness-zigzag

//#region color-lightness-accordion
$color-light-lightness-accordion-fore: 5 !default;
$color-light-lightness-accordion-back: 95 !default;
$color-light-lightness-accordion-border: 80 !default;
$color-light-lightness-accordion-summary-fore: 5 !default;
$color-light-lightness-accordion-summary-back: 80 !default;
$color-light-lightness-accordion-summary-border: 80 !default;
$color-light-lightness-accordion-details-fore: 5 !default;
$color-light-lightness-accordion-details-back: 95 !default;
$color-light-lightness-accordion-details-border: 80 !default;

$color-dark-lightness-accordion-fore: 95 !default;
$color-dark-lightness-accordion-back: 5 !default;
$color-dark-lightness-accordion-border: 20 !default;
$color-dark-lightness-accordion-summary-fore: 95 !default;
$color-dark-lightness-accordion-summary-back: 20 !default;
$color-dark-lightness-accordion-summary-border: 20 !default;
$color-dark-lightness-accordion-details-fore: 95 !default;
$color-dark-lightness-accordion-details-back: 5 !default;
$color-dark-lightness-accordion-details-border: 20 !default;
//#endregion color-lightness-accordion

//#region color-lightness-button
$color-light-lightness-button-fore: 5 !default;
$color-light-lightness-button-back: 70 !default;
$color-light-lightness-button-border: 70 !default;
$color-light-lightness-button-shadow: 70 !default;

$color-dark-lightness-button-fore: 95 !default;
$color-dark-lightness-button-back: 30 !default;
$color-dark-lightness-button-border: 30 !default;
$color-dark-lightness-button-shadow: 30 !default;
//#endregion color-lightness-button

//#region color-lightness-badge
$color-light-lightness-badge-fore: 5 !default;
$color-light-lightness-badge-back: 80 !default;
$color-light-lightness-badge-border: 70 !default;

$color-dark-lightness-badge-fore: 95 !default;
$color-dark-lightness-badge-back: 20 !default;
$color-dark-lightness-badge-border: 30 !default;
//#endregion color-lightness-badge

//#region color-lightness-blockquote
$color-light-lightness-blockquote-fore: 30 !default;
$color-light-lightness-blockquote-back: 80 !default;
$color-light-lightness-blockquote-border: 60 !default;

$color-dark-lightness-blockquote-fore: 70 !default;
$color-dark-lightness-blockquote-back: 20 !default;
$color-dark-lightness-blockquote-border: 40 !default;
//#endregion color-lightness-blockquote

//#region color-lightness-breadcrumbs
$color-light-lightness-breadcrumbs-fore: 65 !default;
$color-light-lightness-breadcrumb-fore: 65 !default;
$color-light-lightness-breadcrumb-divider-fore: 65 !default;

$color-dark-lightness-breadcrumbs-fore: 65 !default;
$color-dark-lightness-breadcrumb-fore: 65 !default;
$color-dark-lightness-breadcrumb-divider-fore: 65 !default;
//#endregion color-lightness-breadcrumbs

//#region color-lightness-card
$color-light-lightness-card-fore: 5 !default;
$color-light-lightness-card-back: 70 !default;
$color-light-lightness-card-border: 70 !default;
$color-light-lightness-card-shadow: 30 !default;
$color-light-lightness-card-header-fore: 5 !default;
$color-light-lightness-card-header-back: 70 !default;
$color-light-lightness-card-body-fore: 5 !default;
$color-light-lightness-card-body-back: 90 !default;
$color-light-lightness-card-footer-fore: 5 !default;
$color-light-lightness-card-footer-back: 80 !default;

$color-dark-lightness-card-fore: 95 !default;
$color-dark-lightness-card-back: 5 !default;
$color-dark-lightness-card-border: 30 !default;
$color-dark-lightness-card-shadow: 30 !default;
$color-dark-lightness-card-header-fore: 95 !default;
$color-dark-lightness-card-header-back: 50 !default;
$color-dark-lightness-card-body-fore: 95 !default;
$color-dark-lightness-card-body-back: 10 !default;
$color-dark-lightness-card-footer-fore: 95 !default;
$color-dark-lightness-card-footer-back: 20 !default;
//#endregion color-lightness-card

//#region color-lightness-dialogue
$color-light-lightness-dialogue-fore: 5 !default;
$color-light-lightness-dialogue-back: 95 !default;
$color-light-lightness-dialogue-border: 70 !default;
$color-light-lightness-dialogue-shadow: 70 !default;
$color-light-lightness-dialogue-avatar-fore: 5 !default;
$color-light-lightness-dialogue-avatar-back: 95 !default;
$color-light-lightness-dialogue-avatar-border: 70 !default;
$color-light-lightness-dialogue-name-fore: 5 !default;
$color-light-lightness-dialogue-name-back: 95 !default;
$color-light-lightness-dialogue-name-border: 70 !default;
$color-light-lightness-dialogue-name-shadow: 70 !default;
$color-light-lightness-dialogue-message-fore: 5 !default;
$color-light-lightness-dialogue-message-back: 95 !default;
$color-light-lightness-dialogue-message-border: 70 !default;

$color-dark-lightness-dialogue-fore: 95 !default;
$color-dark-lightness-dialogue-back: 5 !default;
$color-dark-lightness-dialogue-border: 50 !default;
$color-dark-lightness-dialogue-shadow: 50 !default;
$color-dark-lightness-dialogue-avatar-fore: 95 !default;
$color-dark-lightness-dialogue-avatar-back: 5 !default;
$color-dark-lightness-dialogue-avatar-border: 50 !default;
$color-dark-lightness-dialogue-name-fore: 95 !default;
$color-dark-lightness-dialogue-name-back: 5 !default;
$color-dark-lightness-dialogue-name-border: 50 !default;
$color-dark-lightness-dialogue-name-shadow: 50 !default;
$color-dark-lightness-dialogue-message-fore: 95 !default;
$color-dark-lightness-dialogue-message-back: 5 !default;
$color-dark-lightness-dialogue-message-border: 50 !default;
//#endregion color-lightness-dialogue

//#region color-lightness-figure
$color-light-lightness-figure-fore: 5 !default;
$color-light-lightness-figure-back: 70 !default;
$color-light-lightness-figure-border: 70 !default;
$color-light-lightness-figure-content-fore: 5 !default;
$color-light-lightness-figure-content-back: 95 !default;
$color-light-lightness-figure-caption-fore: 20 !default;
$color-light-lightness-figure-caption-back: 70 !default;

$color-dark-lightness-figure-fore: 95 !default;
$color-dark-lightness-figure-back: 30 !default;
$color-dark-lightness-figure-border: 30 !default;
$color-dark-lightness-figure-content-fore: 95 !default;
$color-dark-lightness-figure-content-back: 5 !default;
$color-dark-lightness-figure-caption-fore: 80 !default;
$color-dark-lightness-figure-caption-back: 30 !default;
//#endregion color-lightness-figure

//#region color-lightness-header
$color-light-lightness-header-fore: 5 !default;
$color-light-lightness-header-back: 70 !default;
$color-light-lightness-header-shadow: 70 !default;

$color-dark-lightness-header-fore: 95 !default;
$color-dark-lightness-header-back: 30 !default;
$color-dark-lightness-header-shadow: 30 !default;
//#endregion color-lightness-header

//#region color-lightness-input
$color-light-lightness-input-fore: 5 !default;
$color-light-lightness-input-back: 95 !default;
$color-light-lightness-input-border: 60 !default;
$color-light-lightness-input-placeholder: 60 !default;

$color-dark-lightness-input-fore: 95 !default;
$color-dark-lightness-input-back: 5 !default;
$color-dark-lightness-input-border: 40 !default;
$color-dark-lightness-input-placeholder: 40 !default;
//#endregion color-lightness-input

//#region color-lightness-label
$color-light-lightness-label-fore: 65 !default;

$color-dark-lightness-label-fore: 65 !default;
//#endregion color-lightness-label

//#region color-lightness-link
$color-light-lightness-link-fore: 65 !default;

$color-dark-lightness-link-fore: 65 !default;
//#endregion color-lightness-link

//#region color-lightness-loader
$color-light-lightness-loader-fore: 65 !default;

$color-dark-lightness-loader-fore: 65 !default;
//#endregion color-lightness-loader

//#region color-lightness-message
$color-light-lightness-message-fore: 5 !default;
$color-light-lightness-message-back: 70 !default;
$color-light-lightness-message-border: 70 !default;
$color-light-lightness-message-header-fore: 5 !default;
$color-light-lightness-message-header-back: 70 !default;
$color-light-lightness-message-body-fore: 5 !default;
$color-light-lightness-message-body-back: 90 !default;

$color-dark-lightness-message-fore: 95 !default;
$color-dark-lightness-message-back: 5 !default;
$color-dark-lightness-message-border: 30 !default;
$color-dark-lightness-message-header-fore: 95 !default;
$color-dark-lightness-message-header-back: 50 !default;
$color-dark-lightness-message-body-fore: 95 !default;
$color-dark-lightness-message-body-back: 5 !default;
//#endregion color-lightness-message

//#region color-lightness-nav
$color-light-lightness-nav-fore: 5 !default;
$color-light-lightness-nav-back: 95 !default;
$color-light-lightness-nav-border: 70 !default;
$color-light-lightness-nav-menu-item-fore: 05 !default;
$color-light-lightness-nav-menu-item-shadow: 80 !default;

$color-dark-lightness-nav-fore: 95 !default;
$color-dark-lightness-nav-back: 5 !default;
$color-dark-lightness-nav-border: 30 !default;
$color-dark-lightness-nav-menu-item-fore: 95 !default;
$color-dark-lightness-nav-menu-item-shadow: 40 !default;
//#endregion color-lightness-nav

//#region color-lightness-progress
$color-light-lightness-progress-fore: 65 !default;
$color-light-lightness-progress-back: 90 !default;
$color-light-lightness-progress-border: 65 !default;

$color-dark-lightness-progress-fore: 65 !default;
$color-dark-lightness-progress-back: 10 !default;
$color-dark-lightness-progress-border: 65 !default;
//#endregion color-lightness-progress

//#region color-lightness-offset

$color-light-lightness-offset-disabled-fore: 30 !default;
$color-dark-lightness-offset-disabled-fore: -30 !default;
$color-light-lightness-offset-selection-fore: 0 !default;
$color-dark-lightness-offset-selection-fore: 0 !default;
$color-light-lightness-offset-selection-back: -25 !default;
$color-dark-lightness-offset-selection-back: 25 !default;
$color-lightness-offset-disabled: 0 !default;
$color-lightness-offset-focus: 20 !default;
$color-lightness-offset-hover: 5 !default;
$color-lightness-offset-active: -5 !default;
$color-lightness-offset-visited: 0 !default;

//#endregion color-lightness-offset

//#region colorShades

$colorShades: (
  //#region plain
  (
      name: "plain",
      fore: (
        light: $color-light-lightness-fore,
        dark: $color-dark-lightness-fore,
      ),
      back: (
        light: $color-light-lightness-back,
        dark: $color-dark-lightness-back,
      ),
      border: (
        light: $color-light-lightness-border,
        dark: $color-dark-lightness-border,
      ),
      placeholder: (
        light: $color-light-lightness-placeholder,
        dark: $color-dark-lightness-placeholder,
      ),
      shadow: (
        light: $color-light-lightness-shadow,
        dark: $color-dark-lightness-shadow,
      ),
      scrollbar: (
        thumb: (
          light: $color-light-lightness-scrollbar-track,
          dark: $color-dark-lightness-scrollbar-track,
        ),
        track: (
          light: $color-light-lightness-scrollbar-track,
          dark: $color-dark-lightness-scrollbar-track,
        ),
      ),
      selection: (
        fore: (
          light: $color-light-lightness-fore + $color-light-lightness-offset-selection-fore,
          dark: $color-dark-lightness-fore + $color-dark-lightness-offset-selection-fore,
        ),
        back: (
          light: $color-light-lightness-back + $color-light-lightness-offset-selection-back,
          dark: $color-dark-lightness-back + $color-dark-lightness-offset-selection-back,
        ),
      ),
      //#region backgrounds
      //#region dot
      dot: (
          fore: (
            light: $color-light-lightness-dot-fore,
            dark: $color-dark-lightness-dot-fore,
          ),
          back: (
            light: $color-light-lightness-dot-back,
            dark: $color-dark-lightness-dot-back,
          ),
        ),
      //#endregion dot
      //#region gingham
      gingham: (
          fore: (
            light: $color-light-lightness-gingham-fore,
            dark: $color-dark-lightness-gingham-fore,
          ),
          back: (
            light: $color-light-lightness-gingham-back,
            dark: $color-dark-lightness-gingham-back,
          ),
        ),
      //#endregion gingham
      //#region rhombus
      rhombus: (
          fore: (
            light: $color-light-lightness-rhombus-fore,
            dark: $color-dark-lightness-rhombus-fore,
          ),
          back: (
            light: $color-light-lightness-rhombus-back,
            dark: $color-dark-lightness-rhombus-back,
          ),
        ),
      //#endregion rhombus
      //#region stripe
      stripe: (
          fore: (
            light: $color-light-lightness-stripe-fore,
            dark: $color-dark-lightness-stripe-fore,
          ),
          back: (
            light: $color-light-lightness-stripe-back,
            dark: $color-dark-lightness-stripe-back,
          ),
        ),
      //#endregion stripe
      //#region zigzag
      zigzag: (
          fore: (
            light: $color-light-lightness-zigzag-fore,
            dark: $color-dark-lightness-zigzag-fore,
          ),
          back: (
            light: $color-light-lightness-zigzag-back,
            dark: $color-dark-lightness-zigzag-back,
          ),
        ),
      //#endregion zigzag
      //#endregion backgrounds
      //#region components
      //#region accordion
      accordion: (
          fore: (
            light: $color-light-lightness-accordion-fore,
            dark: $color-dark-lightness-accordion-fore,
          ),
          back: (
            light: $color-light-lightness-accordion-back,
            dark: $color-dark-lightness-accordion-back,
          ),
          border: (
            light: $color-light-lightness-accordion-border,
            dark: $color-dark-lightness-accordion-border,
          ),
          accordionSummary: (
            fore: (
              light: $color-light-lightness-accordion-summary-fore,
              dark: $color-dark-lightness-accordion-summary-fore,
            ),
            back: (
              light: $color-light-lightness-accordion-summary-back,
              dark: $color-dark-lightness-accordion-summary-back,
            ),
            border: (
              light: $color-light-lightness-accordion-summary-border,
              dark: $color-dark-lightness-accordion-summary-border,
            ),
          ),
          accordionDetails: (
            fore: (
              light: $color-light-lightness-accordion-details-fore,
              dark: $color-dark-lightness-accordion-details-fore,
            ),
            back: (
              light: $color-light-lightness-accordion-details-back,
              dark: $color-dark-lightness-accordion-details-back,
            ),
            border: (
              light: $color-light-lightness-accordion-details-border,
              dark: $color-dark-lightness-accordion-details-border,
            ),
          ),
        ),
      //#endregion accordion
      //#region badge
      badge: (
          fore: (
            light: $color-light-lightness-badge-fore,
            dark: $color-dark-lightness-badge-fore,
          ),
          back: (
            light: $color-light-lightness-badge-back,
            dark: $color-dark-lightness-badge-back,
          ),
          border: (
            light: $color-light-lightness-badge-border,
            dark: $color-dark-lightness-badge-border,
          ),
        ),
      //#endregion badge
      //#region blockquote
      blockquote: (
          fore: (
            light: $color-light-lightness-blockquote-fore,
            dark: $color-dark-lightness-blockquote-fore,
          ),
          back: (
            light: $color-light-lightness-blockquote-back,
            dark: $color-dark-lightness-blockquote-back,
          ),
          border: (
            light: $color-light-lightness-blockquote-border,
            dark: $color-dark-lightness-blockquote-border,
          ),
        ),
      //#endregion blockquote
      //#region breadcrumbs
      breadcrumbs: (
          fore: (
            light: $color-light-lightness-breadcrumbs-fore,
            dark: $color-dark-lightness-breadcrumbs-fore,
          ),
          breadcrumb: (
            fore: (
              light: $color-light-lightness-breadcrumb-fore,
              dark: $color-dark-lightness-breadcrumb-fore,
            ),
          ),
          breadcrumbDivider: (
            fore: (
              light: $color-light-lightness-breadcrumb-divider-fore,
              dark: $color-dark-lightness-breadcrumb-divider-fore,
            ),
          ),
        ),
      //#endregion breadcrumbs
      //#region button
      button: (
          fore: (
            light: $color-light-lightness-button-fore,
            dark: $color-dark-lightness-button-fore,
          ),
          back: (
            light: $color-light-lightness-button-back,
            dark: $color-dark-lightness-button-back,
          ),
          border: (
            light: $color-light-lightness-button-border,
            dark: $color-dark-lightness-button-border,
          ),
          shadow: (
            light: $color-light-lightness-button-shadow,
            dark: $color-dark-lightness-button-shadow,
          ),
        ),
      //#endregion button
      //#region card
      card: (
          fore: (
            light: $color-light-lightness-card-fore,
            dark: $color-dark-lightness-card-fore,
          ),
          back: (
            light: $color-light-lightness-card-back,
            dark: $color-dark-lightness-card-back,
          ),
          border: (
            light: $color-light-lightness-card-border,
            dark: $color-dark-lightness-card-border,
          ),
          shadow: (
            light: $color-light-lightness-card-shadow,
            dark: $color-dark-lightness-card-shadow,
          ),
          cardHeader: (
            fore: (
              light: $color-light-lightness-card-header-fore,
              dark: $color-dark-lightness-card-header-fore,
            ),
            back: (
              light: $color-light-lightness-card-header-back,
              dark: $color-dark-lightness-card-header-back,
            ),
          ),
          cardBody: (
            fore: (
              light: $color-light-lightness-card-body-fore,
              dark: $color-dark-lightness-card-body-fore,
            ),
            back: (
              light: $color-light-lightness-card-body-back,
              dark: $color-dark-lightness-card-body-back,
            ),
          ),
          cardFooter: (
            fore: (
              light: $color-light-lightness-card-footer-fore,
              dark: $color-dark-lightness-card-footer-fore,
            ),
            back: (
              light: $color-light-lightness-card-footer-back,
              dark: $color-dark-lightness-card-footer-back,
            ),
          ),
        ),
      //#endregion card
      //#region dialogue
      dialogue: (
          fore: (
            light: $color-light-lightness-dialogue-fore,
            dark: $color-dark-lightness-dialogue-fore,
          ),
          back: (
            light: $color-light-lightness-dialogue-back,
            dark: $color-dark-lightness-dialogue-back,
          ),
          border: (
            light: $color-light-lightness-dialogue-border,
            dark: $color-dark-lightness-dialogue-border,
          ),
          dialogueAvatar: (
            fore: (
              light: $color-light-lightness-dialogue-avatar-fore,
              dark: $color-dark-lightness-dialogue-avatar-fore,
            ),
            back: (
              light: $color-light-lightness-dialogue-avatar-back,
              dark: $color-dark-lightness-dialogue-avatar-back,
            ),
            border: (
              light: $color-light-lightness-dialogue-avatar-border,
              dark: $color-dark-lightness-dialogue-avatar-border,
            ),
          ),
          dialogueName: (
            fore: (
              light: $color-light-lightness-dialogue-name-fore,
              dark: $color-dark-lightness-dialogue-name-fore,
            ),
            back: (
              light: $color-light-lightness-dialogue-name-back,
              dark: $color-dark-lightness-dialogue-name-back,
            ),
            border: (
              light: $color-light-lightness-dialogue-name-border,
              dark: $color-dark-lightness-dialogue-name-border,
            ),
            shadow: (
              light: $color-light-lightness-dialogue-name-shadow,
              dark: $color-dark-lightness-dialogue-name-shadow,
            ),
          ),
          dialogueMessage: (
            fore: (
              light: $color-light-lightness-dialogue-message-fore,
              dark: $color-dark-lightness-dialogue-message-fore,
            ),
            back: (
              light: $color-light-lightness-dialogue-message-back,
              dark: $color-dark-lightness-dialogue-message-back,
            ),
            border: (
              light: $color-light-lightness-dialogue-message-border,
              dark: $color-dark-lightness-dialogue-message-border,
            ),
          ),
        ),
      //#endregion dialogue
      //#region figure
      figure: (
          fore: (
            light: $color-light-lightness-figure-fore,
            dark: $color-dark-lightness-figure-fore,
          ),
          back: (
            light: $color-light-lightness-figure-back,
            dark: $color-dark-lightness-figure-back,
          ),
          border: (
            light: $color-light-lightness-figure-border,
            dark: $color-dark-lightness-figure-border,
          ),
          selection: (
            fore: (
              light: $color-light-lightness-figure-fore + $color-light-lightness-offset-selection-fore,
              dark: $color-dark-lightness-figure-fore + $color-dark-lightness-offset-selection-fore,
            ),
            back: (
              light: $color-light-lightness-figure-back + $color-light-lightness-offset-selection-back,
              dark: $color-dark-lightness-figure-back + $color-dark-lightness-offset-selection-back,
            ),
          ),
          figureContent: (
            fore: (
              light: $color-light-lightness-figure-content-fore,
              dark: $color-dark-lightness-figure-content-fore,
            ),
            back: (
              light: $color-light-lightness-figure-content-back,
              dark: $color-dark-lightness-figure-content-back,
            ),
            selection: (
              fore: (
                light: $color-light-lightness-figure-content-fore + $color-light-lightness-offset-selection-fore,
                dark: $color-dark-lightness-figure-content-fore + $color-dark-lightness-offset-selection-fore,
              ),
              back: (
                light: $color-light-lightness-figure-content-back + $color-light-lightness-offset-selection-back,
                dark: $color-dark-lightness-figure-content-back + $color-dark-lightness-offset-selection-back,
              ),
            ),
          ),
          figureCaption: (
            fore: (
              light: $color-light-lightness-figure-caption-fore,
              dark: $color-dark-lightness-figure-caption-fore,
            ),
            back: (
              light: $color-light-lightness-figure-caption-back,
              dark: $color-dark-lightness-figure-caption-back,
            ),
            selection: (
              fore: (
                light: $color-light-lightness-figure-caption-fore + $color-light-lightness-offset-selection-fore,
                dark: $color-dark-lightness-figure-caption-fore + $color-dark-lightness-offset-selection-fore,
              ),
              back: (
                light: $color-light-lightness-figure-caption-back + $color-light-lightness-offset-selection-back,
                dark: $color-dark-lightness-figure-caption-back + $color-dark-lightness-offset-selection-back,
              ),
            ),
          ),
      ),
      //#endregion figure
      //#region header
      header: (
          fore: (
            light: $color-light-lightness-header-fore,
            dark: $color-dark-lightness-header-fore,
          ),
          back: (
            light: $color-light-lightness-header-back,
            dark: $color-dark-lightness-header-back,
          ),
          shadow: (
            light: $color-light-lightness-header-shadow,
            dark: $color-dark-lightness-header-shadow,
          ),
        ),
      //#endregion header
      //#region label
      label: (
          fore: (
            light: $color-light-lightness-label-fore,
            dark: $color-dark-lightness-label-fore,
          ),
        ),
      //#endregion label
      //#region loader
      loader: (
          fore: (
            light: $color-light-lightness-loader-fore,
            dark: $color-dark-lightness-loader-fore,
          ),
        ),
      //#endregion loader
      //#region link
      link: (
          fore: (
            light: $color-light-lightness-link-fore,
            dark: $color-dark-lightness-link-fore,
          ),
        ),
      //#endregion link
      //#region input
      input: (
          fore: (
            light: $color-light-lightness-input-fore,
            dark: $color-dark-lightness-input-fore,
          ),
          back: (
            light: $color-light-lightness-input-back,
            dark: $color-dark-lightness-input-back,
          ),
          border: (
            light: $color-light-lightness-input-border,
            dark: $color-dark-lightness-input-border,
          ),
          placeholder: (
            light: $color-light-lightness-input-placeholder,
            dark: $color-dark-lightness-input-placeholder,
          ),
        ),
      //#endregion input
      //#region message
      message: (
          fore: (
            light: $color-light-lightness-message-fore,
            dark: $color-dark-lightness-message-fore,
          ),
          back: (
            light: $color-light-lightness-message-back,
            dark: $color-dark-lightness-message-back,
          ),
          border: (
            light: $color-light-lightness-message-border,
            dark: $color-dark-lightness-message-border,
          ),
          messageHeader: (
            fore: (
              light: $color-light-lightness-message-header-fore,
              dark: $color-dark-lightness-message-header-fore,
            ),
            back: (
              light: $color-light-lightness-message-header-back,
              dark: $color-dark-lightness-message-header-back,
            ),
          ),
          messageBody: (
            fore: (
              light: $color-light-lightness-message-body-fore,
              dark: $color-dark-lightness-message-body-fore,
            ),
            back: (
              light: $color-light-lightness-message-body-back,
              dark: $color-dark-lightness-message-body-back,
            ),
          ),
        ),
      //#endregion message
      //#region nav
      nav: (
          fore: (
            light: $color-light-lightness-nav-fore,
            dark: $color-dark-lightness-nav-fore,
          ),
          back: (
            light: $color-light-lightness-nav-back,
            dark: $color-dark-lightness-nav-back,
          ),
          border: (
            light: $color-light-lightness-nav-border,
            dark: $color-dark-lightness-nav-border,
          ),
          navMenu: (
            navMenuItem: (
              fore: (
                light: $color-light-lightness-nav-fore,
                dark: $color-dark-lightness-nav-fore,
              ),
              shadow: (
                light: $color-light-lightness-nav-menu-item-shadow,
                dark: $color-dark-lightness-nav-menu-item-shadow,
              ),
            ),
          ),
        ),
      //#endregion nav
      progress: (
          fore: (
            light: $color-light-lightness-progress-fore,
            dark: $color-dark-lightness-progress-fore,
          ),
          back: (
            light: $color-light-lightness-progress-back,
            dark: $color-dark-lightness-progress-back,
          ),
          border: (
            light: $color-light-lightness-progress-border,
            dark: $color-dark-lightness-progress-border,
          ),
        ),
      //#endregion components
    ),
  //#endregion plain
  //#region disabled
  (
      name: "disabled",
      fore: (
        light: $color-light-lightness-fore +
          $color-light-lightness-offset-disabled-fore,
        dark: $color-dark-lightness-fore +
          $color-dark-lightness-offset-disabled-fore,
      ),
      back: (
        light: $color-light-lightness-back + $color-lightness-offset-disabled,
        dark: $color-dark-lightness-back + $color-lightness-offset-disabled,
      ),
      border: (
        light: $color-light-lightness-border + $color-lightness-offset-disabled,
        dark: $color-dark-lightness-border + $color-lightness-offset-disabled,
      ),
      placeholder: (
        light: $color-light-lightness-placeholder +
          $color-lightness-offset-disabled,
        dark: $color-dark-lightness-placeholder +
          $color-lightness-offset-disabled,
      ),
      shadow: (
        light: $color-light-lightness-shadow + $color-lightness-offset-disabled,
        dark: $color-dark-lightness-shadow + $color-lightness-offset-disabled,
      ),
      accordion: (
        accordionSummary: (
          fore: (
            light: $color-light-lightness-accordion-summary-fore +
              $color-light-lightness-offset-disabled-fore,
            dark: $color-dark-lightness-accordion-summary-fore +
              $color-dark-lightness-offset-disabled-fore,
          ),
          back: (
            light: $color-light-lightness-accordion-summary-back +
              $color-lightness-offset-disabled,
            dark: $color-dark-lightness-accordion-summary-back +
              $color-lightness-offset-disabled,
          ),
          border: (
            light: $color-light-lightness-accordion-summary-border +
              $color-lightness-offset-disabled,
            dark: $color-dark-lightness-accordion-summary-border +
              $color-lightness-offset-disabled,
          ),
        ),
      ),
      badge: (
        fore: (
          light: $color-light-lightness-badge-fore +
            $color-light-lightness-offset-disabled-fore,
          dark: $color-dark-lightness-badge-fore +
            $color-dark-lightness-offset-disabled-fore,
        ),
        back: (
          light: $color-light-lightness-badge-back +
            $color-lightness-offset-disabled,
          dark: $color-dark-lightness-badge-back +
            $color-lightness-offset-disabled,
        ),
        border: (
          light: $color-light-lightness-badge-border +
            $color-lightness-offset-disabled,
          dark: $color-dark-lightness-badge-border +
            $color-lightness-offset-disabled,
        ),
      ),
      //#region button
      button: (
          fore: (
            light: $color-light-lightness-button-fore +
              $color-light-lightness-offset-disabled-fore,
            dark: $color-dark-lightness-button-fore +
              $color-dark-lightness-offset-disabled-fore,
          ),
          back: (
            light: $color-light-lightness-button-back +
              $color-lightness-offset-disabled,
            dark: $color-dark-lightness-button-back +
              $color-lightness-offset-disabled,
          ),
          border: (
            light: $color-light-lightness-button-border +
              $color-lightness-offset-disabled,
            dark: $color-dark-lightness-button-border +
              $color-lightness-offset-disabled,
          ),
          shadow: (
            light: $color-light-lightness-button-shadow +
              $color-lightness-offset-disabled,
            dark: $color-dark-lightness-button-shadow +
              $color-lightness-offset-disabled,
          ),
        ),
      //#endregion button
      //#region nav
      nav: (
          navMenu: (
            navMenuItem: (
              fore: (
                light: $color-light-lightness-nav-fore +
                  $color-light-lightness-offset-disabled-fore,
                dark: $color-dark-lightness-nav-fore +
                  $color-light-lightness-offset-disabled-fore,
              ),
              shadow: (
                light: $color-light-lightness-nav-menu-item-shadow +
                  $color-lightness-offset-disabled,
                dark: $color-dark-lightness-nav-menu-item-shadow +
                  $color-lightness-offset-disabled,
              ),
            ),
          ),
        ),
      //#endregion nav
    ),
  //#endregion disabled
  //#region hover
  (
      name: "hover",
      fore: (
        light: $color-light-lightness-fore + $color-lightness-offset-hover,
        dark: $color-dark-lightness-fore + $color-lightness-offset-hover,
      ),
      back: (
        light: $color-light-lightness-back + $color-lightness-offset-hover,
        dark: $color-dark-lightness-back + $color-lightness-offset-hover,
      ),
      border: (
        light: $color-light-lightness-border + $color-lightness-offset-hover,
        dark: $color-dark-lightness-border + $color-lightness-offset-hover,
      ),
      placeholder: (
        light: $color-light-lightness-placeholder +
          $color-lightness-offset-hover,
        dark: $color-dark-lightness-placeholder + $color-lightness-offset-hover,
      ),
      shadow: (
        light: $color-light-lightness-shadow + $color-lightness-offset-hover,
        dark: $color-dark-lightness-shadow + $color-lightness-offset-hover,
      ),
      accordion: (
        accordionSummary: (
          fore: (
            light: $color-light-lightness-accordion-summary-fore +
              $color-lightness-offset-hover,
            dark: $color-dark-lightness-accordion-summary-fore +
              $color-lightness-offset-hover,
          ),
          back: (
            light: $color-light-lightness-accordion-summary-back +
              $color-lightness-offset-hover,
            dark: $color-dark-lightness-accordion-summary-back +
              $color-lightness-offset-hover,
          ),
          border: (
            light: $color-light-lightness-accordion-summary-border +
              $color-lightness-offset-hover,
            dark: $color-dark-lightness-accordion-summary-border +
              $color-lightness-offset-hover,
          ),
        ),
      ),
      badge: (
        fore: (
          light: $color-light-lightness-badge-fore,
          dark: $color-dark-lightness-badge-fore + $color-lightness-offset-hover,
        ),
        back: (
          light: $color-light-lightness-badge-back +
            $color-lightness-offset-hover,
          dark: $color-dark-lightness-badge-back + $color-lightness-offset-hover,
        ),
        border: (
          light: $color-light-lightness-badge-border +
            $color-lightness-offset-hover,
          dark: $color-dark-lightness-badge-border +
            $color-lightness-offset-hover,
        ),
      ),
      button: (
        fore: (
          light: $color-light-lightness-button-fore +
            $color-lightness-offset-hover,
          dark: $color-dark-lightness-button-fore +
            $color-lightness-offset-hover,
        ),
        back: (
          light: $color-light-lightness-button-back +
            $color-lightness-offset-hover,
          dark: $color-dark-lightness-button-back +
            $color-lightness-offset-hover,
        ),
        border: (
          light: $color-light-lightness-button-border +
            $color-lightness-offset-hover,
          dark: $color-dark-lightness-button-border +
            $color-lightness-offset-hover,
        ),
        shadow: (
          light: $color-light-lightness-button-shadow +
            $color-lightness-offset-hover,
          dark: $color-dark-lightness-button-shadow +
            $color-lightness-offset-hover,
        ),
      ),
      //#region nav
      nav: (
          navMenu: (
            navMenuItem: (
              fore: (
                light: $color-light-lightness-nav-fore +
                  $color-lightness-offset-hover,
                dark: $color-dark-lightness-nav-fore +
                  $color-lightness-offset-hover,
              ),
              shadow: (
                light: $color-light-lightness-nav-menu-item-shadow +
                  $color-lightness-offset-hover,
                dark: $color-dark-lightness-nav-menu-item-shadow +
                  $color-lightness-offset-hover,
              ),
            ),
          ),
        ),
      //#endregion nav
    ),
  //#endregion hover
  //#region focus
  (
      name: "focus",
      fore: (
        light: $color-light-lightness-fore + $color-lightness-offset-focus,
        dark: $color-dark-lightness-fore + $color-lightness-offset-focus,
      ),
      back: (
        light: $color-light-lightness-back + $color-lightness-offset-focus,
        dark: $color-dark-lightness-back + $color-lightness-offset-focus,
      ),
      border: (
        light: $color-light-lightness-border + $color-lightness-offset-focus,
        dark: $color-dark-lightness-border + $color-lightness-offset-focus,
      ),
      placeholder: (
        light: $color-light-lightness-placeholder +
          $color-lightness-offset-focus,
        dark: $color-dark-lightness-placeholder + $color-lightness-offset-focus,
      ),
      shadow: (
        light: $color-light-lightness-shadow + $color-lightness-offset-focus,
        dark: $color-dark-lightness-shadow + $color-lightness-offset-focus,
      ),
      accordion: (
        accordionSummary: (
          fore: (
            light: $color-light-lightness-accordion-summary-fore,
            dark: $color-dark-lightness-accordion-summary-fore,
          ),
          back: (
            light: $color-light-lightness-accordion-summary-back,
            dark: $color-dark-lightness-accordion-summary-back,
          ),
          border: (
            light: $color-light-lightness-accordion-summary-border,
            dark: $color-dark-lightness-accordion-summary-border,
          ),
        ),
      ),
      badge: (
        fore: (
          light: $color-light-lightness-badge-fore,
          dark: $color-dark-lightness-badge-fore,
        ),
        back: (
          light: $color-light-lightness-badge-back,
          dark: $color-dark-lightness-badge-back,
        ),
        border: (
          light: $color-light-lightness-badge-border,
          dark: $color-dark-lightness-badge-border,
        ),
      ),
      button: (
        fore: (
          light: $color-light-lightness-button-fore,
          dark: $color-dark-lightness-button-fore,
        ),
        back: (
          light: $color-light-lightness-button-back,
          dark: $color-dark-lightness-button-back,
        ),
        border: (
          light: $color-light-lightness-button-border,
          dark: $color-dark-lightness-button-border,
        ),
        shadow: (
          light: $color-light-lightness-button-shadow,
          dark: $color-dark-lightness-button-shadow,
        ),
      ),
      //#region input
      input: (
          back: (
            light: $color-light-lightness-input-back,
            dark: $color-dark-lightness-input-back,
          ),
          border: (
            light: $color-light-lightness-input-border +
              $color-lightness-offset-focus,
            dark: $color-dark-lightness-input-border +
              $color-lightness-offset-focus,
          ),
        ),
      //#endregion input
      //#region nav
      nav: (
          navMenu: (
            navMenuItem: (
              fore: (
                light: $color-light-lightness-nav-fore,
                dark: $color-dark-lightness-nav-fore,
              ),
              shadow: (
                light: $color-light-lightness-nav-menu-item-shadow,
                dark: $color-dark-lightness-nav-menu-item-shadow,
              ),
            ),
          ),
        ),
      //#endregion nav
    ),
  //#endregion focus
  //#region active
  (
      name: "active",
      fore: (
        light: $color-light-lightness-fore + $color-lightness-offset-active,
        dark: $color-dark-lightness-fore + $color-lightness-offset-active,
      ),
      back: (
        light: $color-light-lightness-back + $color-lightness-offset-active,
        dark: $color-dark-lightness-back + $color-lightness-offset-active,
      ),
      border: (
        light: $color-light-lightness-border + $color-lightness-offset-active,
        dark: $color-dark-lightness-border + $color-lightness-offset-active,
      ),
      placeholder: (
        light: $color-light-lightness-placeholder +
          $color-lightness-offset-active,
        dark: $color-dark-lightness-placeholder + $color-lightness-offset-active,
      ),
      shadow: (
        light: $color-light-lightness-shadow + $color-lightness-offset-active,
        dark: $color-dark-lightness-shadow + $color-lightness-offset-active,
      ),
      accordion: (
        accordionSummary: (
          fore: (
            light: $color-light-lightness-accordion-summary-fore +
              $color-lightness-offset-active,
            dark: $color-dark-lightness-accordion-summary-fore +
              $color-lightness-offset-active,
          ),
          back: (
            light: $color-light-lightness-accordion-summary-back +
              $color-lightness-offset-active,
            dark: $color-dark-lightness-accordion-summary-back +
              $color-lightness-offset-active,
          ),
        ),
      ),
      badge: (
        fore: (
          light: $color-light-lightness-badge-fore,
          dark: $color-dark-lightness-badge-fore,
        ),
        back: (
          light: $color-light-lightness-badge-back +
            $color-lightness-offset-active,
          dark: $color-dark-lightness-badge-back +
            $color-lightness-offset-active,
        ),
        border: (
          light: $color-light-lightness-badge-border +
            $color-lightness-offset-active,
          dark: $color-dark-lightness-badge-border +
            $color-lightness-offset-active,
        ),
      ),
      button: (
        fore: (
          light: $color-light-lightness-button-fore,
          dark: $color-dark-lightness-button-fore,
        ),
        back: (
          light: $color-light-lightness-button-back +
            $color-lightness-offset-active,
          dark: $color-dark-lightness-button-back +
            $color-lightness-offset-active,
        ),
        border: (
          light: $color-light-lightness-button-border +
            $color-lightness-offset-active,
          dark: $color-dark-lightness-button-border +
            $color-lightness-offset-active,
        ),
        shadow: (
          light: $color-light-lightness-button-shadow +
            $color-lightness-offset-active,
          dark: $color-dark-lightness-button-shadow +
            $color-lightness-offset-active,
        ),
      ),
      //#region nav
      nav: (
          navMenu: (
            navMenuItem: (
              fore: (
                light: $color-light-lightness-nav-fore +
                  $color-lightness-offset-active,
                dark: $color-dark-lightness-nav-fore +
                  $color-lightness-offset-active,
              ),
              shadow: (
                light: $color-light-lightness-nav-menu-item-shadow +
                  $color-lightness-offset-active,
                dark: $color-dark-lightness-nav-menu-item-shadow +
                  $color-lightness-offset-active,
              ),
            ),
          ),
        ),
      //#endregion nav
    ),
  //#endregion active
  //#region visited
  (
      name: "visited",
      fore: (
        light: $color-light-lightness-fore + $color-lightness-offset-visited,
        dark: $color-dark-lightness-fore + $color-lightness-offset-visited,
      ),
      back: (
        light: $color-light-lightness-back + $color-lightness-offset-visited,
        dark: $color-dark-lightness-back + $color-lightness-offset-visited,
      ),
      border: (
        light: $color-light-lightness-border + $color-lightness-offset-visited,
        dark: $color-dark-lightness-border + $color-lightness-offset-visited,
      ),
      placeholder: (
        light: $color-light-lightness-placeholder +
          $color-lightness-offset-visited,
        dark: $color-dark-lightness-placeholder +
          $color-lightness-offset-visited,
      ),
      shadow: (
        light: $color-light-lightness-shadow + $color-lightness-offset-visited,
        dark: $color-dark-lightness-shadow + $color-lightness-offset-visited,
      ),
      badge: (
        fore: (
          light: $color-light-lightness-badge-fore,
          dark: $color-dark-lightness-badge-fore,
        ),
        back: (
          light: $color-light-lightness-badge-back,
          dark: $color-dark-lightness-badge-back,
        ),
        border: (
          light: $color-light-lightness-badge-border,
          dark: $color-dark-lightness-badge-border,
        ),
      ),
      button: (
        fore: (
          light: $color-light-lightness-button-fore,
          dark: $color-dark-lightness-button-fore,
        ),
        back: (
          light: $color-light-lightness-button-back,
          dark: $color-dark-lightness-button-back,
        ),
        border: (
          light: $color-light-lightness-button-border,
          dark: $color-dark-lightness-button-border,
        ),
        shadow: (
          light: $color-light-lightness-button-shadow,
          dark: $color-dark-lightness-button-shadow,
        ),
      ),
      link: (
        fore: (
          light: $color-light-lightness-link-fore +
            $color-lightness-offset-visited,
          dark: $color-dark-lightness-link-fore +
            $color-lightness-offset-visited,
        ),
      ),
    ) //#endregion visited
);

//#endregion colorShades

//#region define colorNames array

$colors: (
  (
    name: "gray",
    hue: $color-hue-gray,
  ),
  (
    name: "red",
    hue: $color-hue-red,
  ),
  (
    name: "coral",
    hue: $color-hue-coral,
  ),
  (
    name: "orange",
    hue: $color-hue-orange,
  ),
  (
    name: "yellow",
    hue: $color-hue-yellow,
  ),
  (
    name: "lime",
    hue: $color-hue-lime,
  ),
  (
    name: "green",
    hue: $color-hue-green,
  ),
  (
    name: "cyan",
    hue: $color-hue-cyan,
  ),
  (
    name: "blue",
    hue: $color-hue-blue,
  ),
  (
    name: "violet",
    hue: $color-hue-violet,
  ),
  (
    name: "magenta",
    hue: $color-hue-magenta,
  )
) !default;

$semanticColors: (
  (
    name: "primary",
    colorName: "violet",
    lightnessOffset: 0,
  ),
  (
    name: "secondary",
    colorName: "gray",
    lightnessOffset: -10,
  ),
  (
    name: "tertiary",
    colorName: "gray",
    lightnessOffset: -20,
  ),
  (
    name: "info",
    colorName: "blue",
    lightnessOffset: 0,
  ),
  (
    name: "success",
    colorName: "green",
    lightnessOffset: 0,
  ),
  (
    name: "warning",
    colorName: "yellow",
    lightnessOffset: 0,
  ),
  (
    name: "danger",
    colorName: "red",
    lightnessOffset: 0,
  )
) !default;

$allColors: list.join($colors, $semanticColors);
//#endregion define colorNames array
