$prefix: "minolith-" !default;

$is-skelton: false !default;

$enable-smooth-scroll: true !default;

$z-index-tabula: auto !default;

$z-index-modal: 100 !default;
$z-index-modal-content: auto !default;

$z-index-header-is-sticky: 100 !default;

$columns-count: 12 !default;

$responsive-breakpoint-max-width-offset: 0.02px !default;
