@use "../variables/index.scss" as variables;
@use "sass:map";

:root {
  @each $borderWidth in variables.$borderWidths {
    $name: map.get($borderWidth, "name");
    $value: map.get($borderWidth, "value");
    --#{variables.$prefix}border-width-#{$name}: #{$value};
  }

  @each $borderRadius in variables.$borderRadiuses {
    $name: map.get($borderRadius, "name");
    $value: map.get($borderRadius, "value");
    --#{variables.$prefix}border-radius-#{$name}: #{$value};
  }
}
