@use "sass:map";
@use "../variables/index.scss" as variables;

@each $borderStyle in variables.$borderStyles {
  .border-#{$borderStyle} {
    border-style: #{$borderStyle};
    border-width: var(--#{variables.$prefix}border-width-medium);
  }
  @each $borderSide in variables.$borderSides {
    .border-#{$borderSide}-#{$borderStyle} {
      border-#{$borderSide}-style: #{$borderStyle};
      border-#{$borderSide}-width: var(--#{variables.$prefix}border-width-medium);
    }
  }
}

@each $borderWidth in variables.$borderWidths {
  $name: map.get($borderWidth, "name");
  .border-width-#{$name} {
    border-width: var(--#{variables.$prefix}border-width-#{$name});
  }
  @each $borderSide in variables.$borderSides {
    .border-#{$borderSide}-width-#{$name} {
      border-#{$borderSide}-width: var(--#{variables.$prefix}border-width-#{$name});
    }
  }
}

@each $borderRadius in variables.$borderRadiuses {
  $name: map.get($borderRadius, "name");
  .border-radius-#{$name} {
    border-radius: var(--#{variables.$prefix}border-radius-#{$name});
  }
}

.border-sepalated {
  border-collapse: separate;
}

.border-collapted {
  border-collapse: collapse;
}
