@use "../functions/index.scss" as functions;

.display-block {
  display: block !important;
}

.display-inline {
  display: inline !important;
}

.display-inline-block {
  display: inline-block !important;
}

.display-flex {
  display: flex !important;
}

.display-grid {
  display: grid !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-relative {
  position: relative !important;
}

.position-sticky {
  position: sticky !important;
}

.top-auto {
  top: auto !important;
}
.right-auto {
  right: auto !important;
}
.bottom-auto {
  bottom: auto !important;
}
.left-auto {
  left: auto !important;
}

.top-unset {
  top: unset !important;
}
.right-unset {
  right: unset !important;
}
.bottom-unset {
  bottom: unset !important;
}
.left-unset {
  left: unset !important;
}

@for $p from 0 through 4 {
  .top-#{$p}percent {
    top: $p * 25% !important;
  }
  .right-#{$p}percent {
    right: $p * 25% !important;
  }
  .bottom-#{$p}percent {
    bottom: $p * 25% !important;
  }
  .left-#{$p}percent {
    left: $p * 25% !important;
  }
}

.translate-middle-x {
  transform: translateX(-50%) !important;
}

.translate-middle-y {
  transform: translateY(-50%) !important;
}

.translate-middle {
  transform: translate(-50%, -50%) !important;
}
