@use "../functions/index.scss" as functions;

// @for $p from 0 through 20 {
//   $escapedQuarter: functions.strReplace(#{($p * 0.25)}, ".", "\\.");
//   .width-#{$escapedQuarter}rem {
//     width: $p * 0.25rem !important;
//   }
//   .height-#{$escapedQuarter}rem {
//     height: $p * 0.25rem !important;
//   }
// }

@for $p from 1 through 4 {
  $escaped: functions.strReplace(#{($p * 25)}, ".", "\\.");
  .width-#{$escaped}percent {
    width: $p * 25% !important;
  }
  .height-#{$escaped}percent {
    height: $p * 25% !important;
  }
  .max-width-#{$escaped}percent {
    max-width: $p * 25% !important;
  }
  .max-height-#{$escaped}percent {
    max-height: $p * 25% !important;
  }
  .min-width-#{$escaped}percent {
    min-width: $p * 25% !important;
  }
  .min-height-#{$escaped}percent {
    min-height: $p * 25% !important;
  }
}

.width-auto {
  width: auto !important;
}

.height-auto {
  height: auto !important;
}

@mixin aspect-ratio-base() {
  contain: strict;
  width: 100%;
  height: auto;
}

.aspect-ratio-square {
  @include aspect-ratio-base();
  aspect-ratio: 1 / 1;
}

.aspect-ratio-paper-landscape {
  @include aspect-ratio-base();
  aspect-ratio: 1.414 / 1;
}

.aspect-ratio-paper-portrait {
  @include aspect-ratio-base();
  aspect-ratio: 1 / 1.414;
}

.aspect-ratio-2-3 {
  @include aspect-ratio-base();
  aspect-ratio: 2 / 3;
}

.aspect-ratio-3-2 {
  @include aspect-ratio-base();
  aspect-ratio: 3 / 2;
}

.aspect-ratio-3-4 {
  @include aspect-ratio-base();
  aspect-ratio: 3 / 4;
}

.aspect-ratio-4-3 {
  @include aspect-ratio-base();
  aspect-ratio: 4 / 3;
}

.aspect-ratio-4-5 {
  @include aspect-ratio-base();
  aspect-ratio: 4 / 5;
}

.aspect-ratio-5-4 {
  @include aspect-ratio-base();
  aspect-ratio: 5 / 4;
}

.aspect-ratio-5-8 {
  @include aspect-ratio-base();
  aspect-ratio: 5 / 8;
}

.aspect-ratio-8-5 {
  @include aspect-ratio-base();
  aspect-ratio: 8 / 5;
}

.aspect-ratio-9-16 {
  @include aspect-ratio-base();
  aspect-ratio: 9 / 16;
}

.aspect-ratio-16-9 {
  @include aspect-ratio-base();
  aspect-ratio: 16 / 9;
}
