@use "sass:string";
@use "../functions/index.scss" as functions;

.margin-auto,
.m-auto {
  margin: auto !important;
}

.margin-top-auto,
.mt-auto {
  margin-top: auto !important;
}

.margin-right-auto,
.mr-auto {
  margin-right: auto !important;
}

.margin-bottom-auto,
.mb-auto {
  margin-bottom: auto !important;
}

.margin-left-auto,
.ml-auto {
  margin-left: auto !important;
}

.margin-x-auto,
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.margin-y-auto,
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.padding-auto,
.p-auto {
  padding: auto !important;
}

.padding-top-auto,
.pt-auto {
  padding-top: auto !important;
}

.padding-right-auto,
.pr-auto {
  padding-right: auto !important;
}

.padding-bottom-auto,
.pb-auto {
  padding-bottom: auto !important;
}

.padding-left-auto,
.pl-auto {
  padding-left: auto !important;
}

.padding-x-auto,
.px-auto {
  padding-right: auto !important;
  padding-left: auto !important;
}

.padding-y-auto,
.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

@for $p from 0 through 40 {
  $suffix: functions.strReplace(#{($p * 0.25)}, ".", "\\.");

  .margin-#{$suffix}rem,
  .m-#{$suffix}rem {
    margin: $p * 0.25rem !important;
  }

  .margin-top-#{$suffix}rem,
  .mt-#{$suffix}rem {
    margin-top: $p * 0.25rem !important;
  }

  .margin-right-#{$suffix}rem,
  .mr-#{$suffix}rem {
    margin-right: $p * 0.25rem !important;
  }

  .margin-bottom-#{$suffix}rem,
  .mb-#{$suffix}rem {
    margin-bottom: $p * 0.25rem !important;
  }

  .margin-left-#{$suffix}rem,
  .ml-#{$suffix}rem {
    margin-left: $p * 0.25rem !important;
  }

  .margin-x-#{$suffix}rem,
  .mx-#{$suffix}rem {
    margin-right: $p * 0.25rem !important;
    margin-left: $p * 0.25rem !important;
  }

  .margin-y-#{$suffix}rem,
  .my-#{$suffix}rem {
    margin-top: $p * 0.25rem !important;
    margin-bottom: $p * 0.25rem !important;
  }

  .padding-#{$suffix}rem,
  .p-#{$suffix}rem {
    padding: $p * 0.25rem !important;
  }

  .padding-top-#{$suffix}rem,
  .pt-#{$suffix}rem {
    padding-top: $p * 0.25rem !important;
  }

  .padding-right-#{$suffix}rem,
  .pr-#{$suffix}rem {
    padding-right: $p * 0.25rem !important;
  }

  .padding-bottom-#{$suffix}rem,
  .pb-#{$suffix}rem {
    padding-bottom: $p * 0.25rem !important;
  }

  .padding-left-#{$suffix}rem,
  .pl-#{$suffix}rem {
    padding-left: $p * 0.25rem !important;
  }

  .padding-x-#{$suffix}rem,
  .px-#{$suffix}rem {
    padding-right: $p * 0.25rem !important;
    padding-left: $p * 0.25rem !important;
  }

  .padding-y-#{$suffix}rem,
  .py-#{$suffix}rem {
    padding-top: $p * 0.25rem !important;
    padding-bottom: $p * 0.25rem !important;
  }
}
