@use "sass:map";
@use "../variables/index.scss" as variables;
@use "../icons/index.scss" as icons;
@use "../mixins/index.scss" as mixins;

:where(.accordion) {
  //#region local css variables
  --#{variables.$prefix}accordion-color-fore: var(
    --#{variables.$prefix}color-default-accordion-fore,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}accordion-color-back: var(
    --#{variables.$prefix}color-default-accordion-back,
    var(--#{variables.$prefix}color-default-back)
  );
  --#{variables.$prefix}accordion-color-border: var(
    --#{variables.$prefix}color-default-accordion-border,
    var(--#{variables.$prefix}color-default-border)
  );
  --#{variables.$prefix}accordion-color-selection-fore: var(
    --#{variables.$prefix}color-default-selection-fore
  );
  --#{variables.$prefix}accordion-color-selection-back: var(
    --#{variables.$prefix}color-default-selection-back
  );

  --#{variables.$prefix}accordion-summary-color-fore: var(
    --#{variables.$prefix}color-default-accordion-summary-fore
  );
  --#{variables.$prefix}accordion-summary-color-back: var(
    --#{variables.$prefix}color-default-accordion-summary-back
  );
  --#{variables.$prefix}accordion-summary-color-border: var(
    --#{variables.$prefix}color-default-accordion-summary-border
  );

  --#{variables.$prefix}accordion-details-color-fore: var(
    --#{variables.$prefix}color-default-accordion-details-fore
  );
  --#{variables.$prefix}accordion-details-color-back: var(
    --#{variables.$prefix}color-default-accordion-details-back
  );
  --#{variables.$prefix}accordion-details-color-border: var(
    --#{variables.$prefix}color-default-accordion-details-border
  );

  //#region focus
  --#{variables.$prefix}accordion-summary-color-focus-back: var(
    --#{variables.$prefix}color-default-accordion-summary-focus-back
  );
  --#{variables.$prefix}accordion-summary-color-focus-border: var(
    --#{variables.$prefix}color-default-accordion-summary-focus-border
  );
  //#endregion focus

  //#region hover
  --#{variables.$prefix}accordion-summary-color-hover-back: var(
    --#{variables.$prefix}color-default-accordion-summary-hover-back
  );
  --#{variables.$prefix}accordion-summary-color-hover-border: var(
    --#{variables.$prefix}color-default-accordion-summary-hover-border
  );
  //#endregion hover

  //#region active
  --#{variables.$prefix}accordion-summary-color-active-back: var(
    --#{variables.$prefix}color-default-accordion-summary-active-back
  );
  --#{variables.$prefix}accordion-summary-color-active-border: var(
    --#{variables.$prefix}color-default-accordion-summary-active-border
  );
  //#endregion active

  //#region disabled
  --#{variables.$prefix}accordion-summary-color-disabled-back: var(
    --#{variables.$prefix}color-default-accordion-summary-disabled-back
  );
  --#{variables.$prefix}accordion-summary-color-disabled-border: var(
    --#{variables.$prefix}color-default-accordion-summary-disabled-border
  );
  //#endregion disabled

  //#endregion local css variables

  @include mixins.element();
  color: var(--#{variables.$prefix}accordion-color-fore);
  background-color: var(--#{variables.$prefix}accordion-color-back);
  border-color: var(--#{variables.$prefix}accordion-color-border);
  border-radius: calc(
    var(--#{variables.$prefix}border-radius-medium) +
      var(--#{variables.$prefix}border-width-thin)
  );
  border-style: solid;
  border-width: var(--#{variables.$prefix}border-width-thin);
  border-collapse: collapse;

  &::selection {
    color: var(--#{variables.$prefix}accordion-color-selection-fore);
    background-color: var(--#{variables.$prefix}accordion-color-selection-back);
  }

  > .accordion-summary {
    @include mixins.element();
    background-color: var(--#{variables.$prefix}accordion-summary-color-back);
    border-color: var(--#{variables.$prefix}accordion-summary-color-border);
    border-radius: calc(var(--#{variables.$prefix}border-radius-medium));
    cursor: pointer;
    display: block;
    padding: 1rem;
    position: relative;
    touch-action: manipulation;
    user-select: none;
    list-style: none;
    &::marker,
    &::-webkit-details-marker {
      display: none;
    }
    &::after {
      @include icons.chevron() {
        content: "";
        right: 1rem;
        position: absolute;
        top: calc(50% - 0.25rem);
        background: var(--#{variables.$prefix}accordion-color-fore);
      }
    }

    &:focus,
    &.is-focus,
    &.is-focused {
      background-color: var(
        --#{variables.$prefix}accordion-summary-color-focus-back
      );
      border-color: var(
        --#{variables.$prefix}accordion-summary-color-focus-border
      );
    }

    &:hover,
    &.is-hover,
    &.is-hovered {
      background-color: var(
        --#{variables.$prefix}accordion-summary-color-hover-back
      );
      border-color: var(
        --#{variables.$prefix}accordion-summary-color-hover-border
      );
    }

    &:active,
    &.is-active {
      background-color: var(
        --#{variables.$prefix}accordion-summary-color-active-back
      );
      border-color: var(
        --#{variables.$prefix}accordion-summary-color-active-border
      );
    }

    &[disabled],
    fieldset[disabled],
    &.is-disabled {
      background-color: var(
        --#{variables.$prefix}accordion-summary-color-disabled-back
      );
      border-color: var(
        --#{variables.$prefix}accordion-summary-color-disabled-border
      );
    }
  }
  > .accordion-details {
    @include mixins.element();
    border-color: var(--#{variables.$prefix}accordion-details-color-border);
    height: 0;
    display: none;
    padding: 1rem;
    border-radius: 0 0 var(--#{variables.$prefix}border-radius-medium)
      var(--#{variables.$prefix}border-radius-medium);
  }
  &[open],
  is-open {
    > .accordion-summary {
      border-radius: var(--#{variables.$prefix}border-radius-medium)
        var(--#{variables.$prefix}border-radius-medium) 0 0;
      &::after {
        transform: rotate(180deg);
      }
    }
    > .accordion-details {
      display: block;
      height: auto;
    }
  }
  @if (not variables.$is-skelton) {
    @each $color in variables.$allColors {
      $colorName: map.get($color, "name");
      &.is-#{$colorName} {
        --#{variables.$prefix}accordion-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-fore
        );
        --#{variables.$prefix}accordion-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-back
        );
        --#{variables.$prefix}accordion-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-border
        );
        --#{variables.$prefix}accordion-color-selection-fore: var(
          --#{variables.$prefix}color-#{$colorName}-selection-fore
        );
        --#{variables.$prefix}accordion-color-selection-back: var(
          --#{variables.$prefix}color-#{$colorName}-selection-back
        );

        --#{variables.$prefix}accordion-summary-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-summary-fore
        );
        --#{variables.$prefix}accordion-summary-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-summary-back
        );
        --#{variables.$prefix}accordion-summary-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-summary-border
        );

        --#{variables.$prefix}accordion-details-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-details-fore
        );
        --#{variables.$prefix}accordion-details-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-details-back
        );
        --#{variables.$prefix}accordion-details-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-details-border
        );

        //#region focus
        --#{variables.$prefix}accordion-summary-color-focus-back: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-summary-focus-back
        );
        --#{variables.$prefix}accordion-summary-color-focus-border: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-summary-focus-border
        );
        //#endregion focus

        //#region hover
        --#{variables.$prefix}accordion-summary-color-hover-back: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-summary-hover-back
        );
        --#{variables.$prefix}accordion-summary-color-hover-border: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-summary-hover-border
        );
        //#endregion hover

        //#region active
        --#{variables.$prefix}accordion-summary-color-active-back: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-summary-active-back
        );
        --#{variables.$prefix}accordion-summary-color-active-border: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-summary-active-border
        );
        //#endregion active

        //#region disabled
        --#{variables.$prefix}accordion-summary-color-disabled-back: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-summary-disabled-back
        );
        --#{variables.$prefix}accordion-summary-color-disabled-border: var(
          --#{variables.$prefix}color-#{$colorName}-accordion-summary-disabled-border
        );
        //#endregion disabled
      }
    }
  }
}
