@use "sass:map";
@use "../variables/index.scss" as variables;

.badge {
  align-items: center;
  background-color: var(--#{variables.$prefix}color-default-badge-back);
  border-color: var(--#{variables.$prefix}color-default-badge-border);
  border-radius: var(--#{variables.$prefix}border-radius-medium);
  border-style: solid;
  border-width: var(--#{variables.$prefix}border-width-thin);
  color: var(--#{variables.$prefix}color-default-badge-fore);
  display: inline-flex;
  font-size: var(--#{variables.$prefix}font-size-small);
  justify-content: center;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;

  &.is-small {
    font-size: var(--#{variables.$prefix}font-size-xsmall);
    border-width: var(--#{variables.$prefix}border-width-xthin);
    padding: 0.125rem 0.25rem;
  }

  @if (not variables.$is-skelton) {
    @each $color in variables.$colors {
      $colorName: map.get($color, "name");
      &.is-#{$colorName} {
        background-color: var(--#{variables.$prefix}color-#{$colorName}-badge-back);
        border-color: var(--#{variables.$prefix}color-#{$colorName}-badge-border);
        color: var(--#{variables.$prefix}color-#{$colorName}-badge-fore);
      }
    }
  }

  &.is-clickable {
    user-select: none;
    cursor: pointer;
    &:focus,
    &.is-focus,
    &.is-focused {
      background-color: var(--#{variables.$prefix}color-default-badge-focus-back);
      border-color: var(--#{variables.$prefix}color-default-badge-focus-border);
      color: var(--#{variables.$prefix}color-default-badge-focus-fore);
    }
    &:hover,
    &.is-hovered,
    &.is-hovered {
      background-color: var(--#{variables.$prefix}color-default-badge-hover-back);
      border-color: var(--#{variables.$prefix}color-default-badge-hover-border);
      color: var(--#{variables.$prefix}color-default-badge-hover-fore);
    }
    &:active,
    &.is-active {
      background-color: var(--#{variables.$prefix}color-default-badge-active-back);
      border-color: var(--#{variables.$prefix}color-default-badge-active-border);
      color: var(--#{variables.$prefix}color-default-badge-active-fore);
    }
    &[disabled],
    fieldset[disabled],
    &.is-disabled {
      background-color: var(--#{variables.$prefix}color-default-badge-disabled-back);
      border-color: var(--#{variables.$prefix}color-default-badge-disabled-border);
      color: var(--#{variables.$prefix}color-default-badge-disabled-fore);
    }

    @if (not variables.$is-skelton) {
      @each $color in variables.$colors {
      $colorName: map.get($color, "name");
        &.is-#{$colorName} {
          background-color: var(--#{variables.$prefix}color-#{$colorName}-badge-back);
          border-color: var(--#{variables.$prefix}color-#{$colorName}-badge-border);
          color: var(--#{variables.$prefix}color-#{$colorName}-badge-fore);
          &.is-clickable {
            &:focus,
            &.is-focus,
            &.is-focused {
              background-color: var(--#{variables.$prefix}color-#{$colorName}-badge-focus-back);
              border-color: var(--#{variables.$prefix}color-#{$colorName}-badge-focus-border);
              color: var(--#{variables.$prefix}color-#{$colorName}-badge-focus-fore);
            }
            &:hover,
            &.is-hover,
            &.is-hovered {
              background-color: var(--#{variables.$prefix}color-#{$colorName}-badge-hover-back);
              border-color: var(--#{variables.$prefix}color-#{$colorName}-badge-hover-border);
              color: var(--#{variables.$prefix}color-#{$colorName}-badge-hover-fore);
            }
            &:active,
            &.is-active {
              background-color: var(--#{variables.$prefix}color-#{$colorName}-badge-active-back);
              border-color: var(--#{variables.$prefix}color-#{$colorName}-badge-active-border);
              color: var(--#{variables.$prefix}color-#{$colorName}-badge-active-fore);
            }
            &[disabled],
            fieldset[disabled],
            &.is-disabled {
              background-color: var(--#{variables.$prefix}color-#{$colorName}-badge-disabled-back);
              border-color: var(--#{variables.$prefix}color-#{$colorName}-badge-disabled-border);
              color: var(--#{variables.$prefix}color-#{$colorName}-badge-disabled-fore);
            }
          }
        }
      }
    }
  }
}
