@use "sass:map";
@use "../variables/index.scss" as variables;
@use "../mixins/index.scss" as mixins;

.badge {
  //#region local css variables
  --#{variables.$prefix}color-badge-fore: var(
    --#{variables.$prefix}color-default-badge-fore
  );
  --#{variables.$prefix}color-badge-back: var(
    --#{variables.$prefix}color-default-badge-back
  );
  --#{variables.$prefix}color-badge-border: var(
    --#{variables.$prefix}color-default-badge-border
  );

  //#region focus
  --#{variables.$prefix}color-badge-focus-fore: var(
    --#{variables.$prefix}color-default-badge-focus-fore
  );
  --#{variables.$prefix}color-badge-focus-back: var(
    --#{variables.$prefix}color-default-badge-focus-back
  );
  --#{variables.$prefix}color-badge-focus-border: var(
    --#{variables.$prefix}color-default-badge-focus-border
  );
  //#endregion focus

  //#region hover
  --#{variables.$prefix}color-badge-hover-fore: var(
    --#{variables.$prefix}color-default-badge-hover-fore
  );
  --#{variables.$prefix}color-badge-hover-back: var(
    --#{variables.$prefix}color-default-badge-hover-back
  );
  --#{variables.$prefix}color-badge-hover-border: var(
    --#{variables.$prefix}color-default-badge-hover-border
  );
  //#endregion hover

  //#region active
  --#{variables.$prefix}color-badge-active-fore: var(
    --#{variables.$prefix}color-default-badge-active-fore
  );
  --#{variables.$prefix}color-badge-active-back: var(
    --#{variables.$prefix}color-default-badge-active-back
  );
  --#{variables.$prefix}color-badge-active-border: var(
    --#{variables.$prefix}color-default-badge-active-border
  );
  //#endregion active

  //#region disabled
  --#{variables.$prefix}color-badge-disabled-fore: var(
    --#{variables.$prefix}color-default-badge-disabled-fore
  );
  --#{variables.$prefix}color-badge-disabled-back: var(
    --#{variables.$prefix}color-default-badge-disabled-back
  );
  --#{variables.$prefix}color-badge-disabled-border: var(
    --#{variables.$prefix}color-default-badge-disabled-border
  );
  //#endregion disabled

  //#endregion local css variables

  @include mixins.element();
  align-items: center;
  background-color: var(--#{variables.$prefix}color-badge-back);
  border-color: var(--#{variables.$prefix}color-badge-border);
  border-radius: var(--#{variables.$prefix}border-radius-medium);
  border-style: solid;
  border-width: var(--#{variables.$prefix}border-width-thin);
  color: var(--#{variables.$prefix}color-badge-fore);
  display: inline-flex;
  font-size: var(--#{variables.$prefix}font-size-small);
  justify-content: center;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;

  &.is-small {
    font-size: var(--#{variables.$prefix}font-size-xsmall);
    border-width: var(--#{variables.$prefix}border-width-xthin);
    padding: 0.125rem 0.25rem;
  }

  &.is-clickable {
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    &:focus,
    &.is-focus,
    &.is-focused {
      background-color: var(
        --#{variables.$prefix}color-badge-focus-back
      );
      border-color: var(--#{variables.$prefix}color-badge-focus-border);
      color: var(--#{variables.$prefix}color-badge-focus-fore);
    }
    &:hover,
    &.is-hovered,
    &.is-hovered {
      background-color: var(
        --#{variables.$prefix}color-badge-hover-back
      );
      border-color: var(--#{variables.$prefix}color-badge-hover-border);
      color: var(--#{variables.$prefix}color-badge-hover-fore);
    }
    &:active,
    &.is-active {
      background-color: var(
        --#{variables.$prefix}color-badge-active-back
      );
      border-color: var(
        --#{variables.$prefix}color-badge-active-border
      );
      color: var(--#{variables.$prefix}color-badge-active-fore);
    }
    &[disabled],
    fieldset[disabled],
    &.is-disabled {
      background-color: var(
        --#{variables.$prefix}color-badge-disabled-back
      );
      border-color: var(
        --#{variables.$prefix}color-badge-disabled-border
      );
      color: var(--#{variables.$prefix}color-badge-disabled-fore);
    }
  }

  @if (not variables.$is-skelton) {
    @each $color in variables.$colors {
      $colorName: map.get($color, "name");
      &.is-#{$colorName} {
        //#region local css variables
        --#{variables.$prefix}color-badge-fore: var(
          --#{variables.$prefix}color-#{$colorName}-badge-fore
        );
        --#{variables.$prefix}color-badge-back: var(
          --#{variables.$prefix}color-#{$colorName}-badge-back
        );
        --#{variables.$prefix}color-badge-border: var(
          --#{variables.$prefix}color-#{$colorName}-badge-border
        );

        //#region focus
        --#{variables.$prefix}color-badge-focus-fore: var(
          --#{variables.$prefix}color-#{$colorName}-badge-focus-fore
        );
        --#{variables.$prefix}color-badge-focus-back: var(
          --#{variables.$prefix}color-#{$colorName}-badge-focus-back
        );
        --#{variables.$prefix}color-badge-focus-border: var(
          --#{variables.$prefix}color-#{$colorName}-badge-focus-border
        );
        //#endregion focus

        //#region hover
        --#{variables.$prefix}color-badge-hover-fore: var(
          --#{variables.$prefix}color-#{$colorName}-badge-hover-fore
        );
        --#{variables.$prefix}color-badge-hover-back: var(
          --#{variables.$prefix}color-#{$colorName}-badge-hover-back
        );
        --#{variables.$prefix}color-badge-hover-border: var(
          --#{variables.$prefix}color-#{$colorName}-badge-hover-border
        );
        //#endregion hover

        //#region active
        --#{variables.$prefix}color-badge-active-fore: var(
          --#{variables.$prefix}color-#{$colorName}-badge-active-fore
        );
        --#{variables.$prefix}color-badge-active-back: var(
          --#{variables.$prefix}color-#{$colorName}-badge-active-back
        );
        --#{variables.$prefix}color-badge-active-border: var(
          --#{variables.$prefix}color-#{$colorName}-badge-active-border
        );
        //#endregion active

        //#region disabled
        --#{variables.$prefix}color-badge-disabled-fore: var(
          --#{variables.$prefix}color-#{$colorName}-badge-disabled-fore
        );
        --#{variables.$prefix}color-badge-disabled-back: var(
          --#{variables.$prefix}color-#{$colorName}-badge-disabled-back
        );
        --#{variables.$prefix}color-badge-disabled-border: var(
          --#{variables.$prefix}color-#{$colorName}-badge-disabled-border
        );
        //#endregion disabled
      }
    }
  }

}
