@use "sass:map";
@use "../variables/index.scss" as variables;
@use "../icons/index.scss" as icons;
@use "../mixins/index.scss" as mixins;

:where(.blockquote) {
  //#region local css variables
  --#{variables.$prefix}color-blockquote-fore: var(
    --#{variables.$prefix}color-default-blockquote-fore
  );
  --#{variables.$prefix}color-blockquote-back: var(
    --#{variables.$prefix}color-default-blockquote-back
  );
  --#{variables.$prefix}color-blockquote-border: var(
    --#{variables.$prefix}color-default-blockquote-border
  );

  --#{variables.$prefix}blockquote-icon-font-size: var(
    --#{variables.$prefix}font-size-xxxlarge
  );
  --#{variables.$prefix}blockquote-border-left-width: var(
    --#{variables.$prefix}border-width-thick
  );
  //#endregion local css variables

  @include mixins.element();
  position: relative;
  color: var(--#{variables.$prefix}color-blockquote-fore);
  background-color: var(--#{variables.$prefix}color-blockquote-back);
  border-left-color: var(--#{variables.$prefix}color-blockquote-border);
  border-left-style: solid;
  border-left-width: var(--#{variables.$prefix}blockquote-border-left-width);
  margin: 0;
  margin-block: unset;
  margin-inline: unset;
  padding: 0.5rem;
  &.is-italic {
    font-style: italic;
  }
  &.has-quote,
  &.has-quote-before {
    padding-left: 1.5rem;
    &::before {
      position: absolute;
      top: 0;
      overflow-y: hidden;
      height: calc(var(--#{variables.$prefix}blockquote-icon-font-size) / 2);
      width: calc(var(--#{variables.$prefix}blockquote-icon-font-size) / 2);
      left: 0.5rem;
      quotes: initial;
      content: open-quote;
      display: block;
      max-width: 100%;
      color: var(--#{variables.$prefix}color-blockquote-fore);
      font-size: var(--#{variables.$prefix}blockquote-icon-font-size);
    }
  }
  &.has-quote,
  &.has-quote-after {
    padding-right: 1.5rem;
    &::after {
      position: absolute;
      bottom: 0;
      overflow-y: hidden;
      height: calc(var(--#{variables.$prefix}blockquote-icon-font-size) / 2);
      width: calc(var(--#{variables.$prefix}blockquote-icon-font-size) / 2);
      right: 0.5rem;
      quotes: initial;
      content: close-quote;
      display: block;
      max-width: 100%;
      color: var(--#{variables.$prefix}color-default-blockquote-fore);
      font-size: var(--#{variables.$prefix}blockquote-icon-font-size);
    }
  }

  @if (not variables.$is-skelton) {
    @each $color in variables.$colors {
      $colorName: map.get($color, "name");
      &.is-#{$colorName} {

        //#region local css variables
        --#{variables.$prefix}color-blockquote-fore: var(
          --#{variables.$prefix}color-#{$colorName}-blockquote-fore
        );
        --#{variables.$prefix}color-blockquote-back: var(
          --#{variables.$prefix}color-#{$colorName}-blockquote-back
        );
        --#{variables.$prefix}color-blockquote-border: var(
          --#{variables.$prefix}color-#{$colorName}-blockquote-border
        );
        //#endregion local css variables
      }
    }
  }
}
