@use "sass:map";
@use "sass:string";
@use "../variables/index.scss" as variables;
@use "../mixins/index.scss" as mixins;

:where(.breadcrumbs) {
  //#region local css variables
  --#{variables.$prefix}color-breadcrumb-fore: var(
    --#{variables.$prefix}color-default-breadcrumb-fore
  );
  --#{variables.$prefix}color-breadcrumb-divider-fore: var(
    --#{variables.$prefix}color-default-breadcrumb-divider-fore
  );
  //#endregion local css variables

  @include mixins.element();
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  > .breadcrumb {
    @include mixins.element();
    text-wrap: wrap;
    color: var(--#{variables.$prefix}color-breadcrumb-fore);
    &:has(~ .breadcrumb) {
      &::after {
        @include mixins.element();
        content: var(--#{variables.$prefix}breadcrumb-divider);
        margin: 0 0.5rem;
        color: var(--#{variables.$prefix}color-breadcrumb-divider-fore);
        user-select: none;
      }
    }
  }

  @if (not variables.$is-skelton) {
    @each $color in variables.$colors {
      $colorName: map.get($color, "name");
      &.is-#{$colorName} {
        //#region local css variables
        --#{variables.$prefix}color-breadcrumb-fore: var(
          --#{variables.$prefix}color-#{$colorName}-breadcrumb-fore
        );
        --#{variables.$prefix}color-breadcrumb-divider-fore: var(
          --#{variables.$prefix}color-#{$colorName}-breadcrumb-divider-fore
        );
        //#endregion local css variables
      }
    }
  }
}

:where(.breadcrumbs-nav) {
  @include mixins.element();
}
