@use "sass:map";
@use "../variables/index.scss" as variables;
@use "../mixins/index.scss" as mixins;

:where(.card) {
  //#region local css variables
  --#{variables.$prefix}card-color-fore: var(
    --#{variables.$prefix}color-default-card-fore
  );
  --#{variables.$prefix}card-color-back: var(
    --#{variables.$prefix}color-default-card-back
  );
  --#{variables.$prefix}card-color-border: var(
    --#{variables.$prefix}color-default-card-border
  );
  --#{variables.$prefix}card-color-shadow: var(
    --#{variables.$prefix}color-default-card-shadow
  );

  --#{variables.$prefix}card-color-selection-fore: var(
    --#{variables.$prefix}color-default-card-selection-fore,
    var(--#{variables.$prefix}color-default-selection-fore)
  );
  --#{variables.$prefix}card-color-selection-back: var(
    --#{variables.$prefix}color-default-card-selection-back,
    var(--#{variables.$prefix}color-default-selection-back)
  );

  --#{variables.$prefix}card-header-color-fore: var(
    --#{variables.$prefix}color-default-card-header-fore
  );
  --#{variables.$prefix}card-header-color-back: var(
    --#{variables.$prefix}color-default-card-header-back
  );
  --#{variables.$prefix}card-header-color-border: var(
    --#{variables.$prefix}color-default-card-header-border
  );

  --#{variables.$prefix}card-body-color-fore: var(
    --#{variables.$prefix}color-default-card-body-fore
  );
  --#{variables.$prefix}card-body-color-back: var(
    --#{variables.$prefix}color-default-card-body-back
  );
  --#{variables.$prefix}card-body-color-border: var(
    --#{variables.$prefix}color-default-card-body-border
  );

  --#{variables.$prefix}card-footer-color-fore: var(
    --#{variables.$prefix}color-default-card-footer-fore
  );
  --#{variables.$prefix}card-footer-color-back: var(
    --#{variables.$prefix}color-default-card-footer-back
  );
  --#{variables.$prefix}card-footer-color-border: var(
    --#{variables.$prefix}color-default-card-footer-border
  );

  --#{variables.$prefix}card-border-width: var(
    --#{variables.$prefix}border-width-thin
  );
  --#{variables.$prefix}card-border-radius: var(
    --#{variables.$prefix}border-radius-medium
  );
  //#endregion local css variables

  @include mixins.element();
  display: block;
  background-color: var(--#{variables.$prefix}card-color-back);
  border-radius: calc(
    var(--#{variables.$prefix}card-border-radius) +
      var(--#{variables.$prefix}card-border-width)
  );
  border-color: var(--#{variables.$prefix}card-color-border);
  border-style: solid;
  border-width: var(--#{variables.$prefix}card-border-width);
  color: var(--#{variables.$prefix}card-color-fore);

  &.has-shadow {
    box-shadow: 0 0.5rem 0.5rem var(--#{variables.$prefix}card-color-shadow);
  }

  &::selection {
    color: var(--#{variables.$prefix}card-color-selection-fore);
    background-color: var(--#{variables.$prefix}card-color-selection-back);
  }

  > .card-header {
    @include mixins.element();
    background-color: var(--#{variables.$prefix}card-header-color-back);
    border-radius: var(--#{variables.$prefix}card-border-radius)
      var(--#{variables.$prefix}card-border-radius) 0 0;
    color: var(--#{variables.$prefix}card-header-color-fore);
    padding: 0.5rem;
    display: block;
    font-size: var(--#{variables.$prefix}font-size-medium);
    font-weight: var(--#{variables.$prefix}font-weight-semibold);
  }
  > .card-body {
    @include mixins.element();
    background-color: var(--#{variables.$prefix}card-body-color-back);
    color: var(--#{variables.$prefix}card-body-color-fore);
    padding: 0.5rem;
    display: block;
    &:first-child {
      border-radius: var(--#{variables.$prefix}card-border-radius)
        var(--#{variables.$prefix}card-border-radius) 0 0;
    }
    &:last-child {
      border-radius: 0 0 var(--#{variables.$prefix}card-border-radius)
        var(--#{variables.$prefix}card-border-radius);
    }
    &:only-child {
      border-radius: var(--#{variables.$prefix}card-border-radius);
    }
  }
  > .card-footer {
    @include mixins.element();
    background-color: var(--#{variables.$prefix}card-footer-color-back);
    border-radius: 0 0 var(--#{variables.$prefix}card-border-radius)
      var(--#{variables.$prefix}card-border-radius);
    color: var(--#{variables.$prefix}card-footer-color-fore);
    padding: 0.5rem;
    display: block;
  }

  @if (not variables.$is-skelton) {
    @each $color in variables.$allColors {
      $colorName: map.get($color, "name");
      &.is-#{$colorName} {
        //#region local css variables
        --#{variables.$prefix}card-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-card-fore
        );
        --#{variables.$prefix}card-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-card-back
        );
        --#{variables.$prefix}card-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-card-border
        );
        --#{variables.$prefix}card-color-shadow: var(
          --#{variables.$prefix}color-#{$colorName}-card-shadow
        );

        --#{variables.$prefix}card-color-selection-fore: var(
          --#{variables.$prefix}color-#{$colorName}-card-selection-fore,
          var(--#{variables.$prefix}color-#{$colorName}-selection-fore)
        );
        --#{variables.$prefix}card-color-selection-back: var(
          --#{variables.$prefix}color-#{$colorName}-card-selection-back,
          var(--#{variables.$prefix}color-#{$colorName}-selection-back)
        );

        --#{variables.$prefix}card-header-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-card-header-fore
        );
        --#{variables.$prefix}card-header-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-card-header-back
        );
        --#{variables.$prefix}card-header-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-card-header-border
        );

        --#{variables.$prefix}card-body-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-card-body-fore
        );
        --#{variables.$prefix}card-body-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-card-body-back
        );
        --#{variables.$prefix}card-body-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-card-body-border
        );

        --#{variables.$prefix}card-footer-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-card-body-fore
        );
        --#{variables.$prefix}card-footer-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-card-body-back
        );
        --#{variables.$prefix}card-footer-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-card-body-border
        );
        //#endregion local css variables
      }
    }
  }
}
