@use "sass:map";
@use "../variables/index.scss" as variables;
@use "../mixins/index.scss" as mixins;

@mixin dialogue-message-arrow-base() {
  &::after,
  &::before {
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: calc(
      var(--#{variables.$prefix}dialogue-message-arrow-height) / 2
    );
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: calc(
      var(--#{variables.$prefix}dialogue-message-arrow-height) / 2
    );
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: var(--#{variables.$prefix}dialogue-message-arrow-top-offset);
    right: auto;
    width: 0;
    z-index: -1;
  }
}

:where(.dialogue) {
  //#region local css variables
  --#{variables.$prefix}dialogue-color-fore: var(
    --#{variables.$prefix}color-default-dialogue-fore
  );
  --#{variables.$prefix}dialogue-color-back: var(
    --#{variables.$prefix}color-default-dialogue-back
  );
  --#{variables.$prefix}dialogue-color-border: var(
    --#{variables.$prefix}color-default-dialogue-border
  );
  --#{variables.$prefix}dialogue-color-selection-fore: var(
    --#{variables.$prefix}color-default-selection-fore
  );
  --#{variables.$prefix}dialogue-color-selection-back: var(
    --#{variables.$prefix}color-default-selection-back
  );

  --#{variables.$prefix}dialogue-avatar-color-back: var(
    --#{variables.$prefix}color-default-dialogue-back
  );
  --#{variables.$prefix}dialogue-avatar-color-border: var(
    --#{variables.$prefix}color-default-dialogue-border
  );
  --#{variables.$prefix}dialogue-name-color-fore: var(
    --#{variables.$prefix}color-default-dialogue-name-fore
  );
  --#{variables.$prefix}dialogue-name-color-back: var(
    --#{variables.$prefix}color-default-dialogue-name-back
  );
  --#{variables.$prefix}dialogue-name-color-border: var(
    --#{variables.$prefix}color-default-dialogue-name-border
  );
  --#{variables.$prefix}dialogue-message-color-fore: var(
    --#{variables.$prefix}color-default-dialogue-message-fore
  );
  --#{variables.$prefix}dialogue-message-color-back: var(
    --#{variables.$prefix}color-default-dialogue-message-back
  );
  --#{variables.$prefix}dialogue-message-color-border: var(
    --#{variables.$prefix}color-default-dialogue-message-border
  );

  --#{variables.$prefix}dialogue-avatar-size: var(
    --#{variables.$prefix}dialogue-avatar-size-default
  );
  --#{variables.$prefix}dialogue-border-width: var(
    --#{variables.$prefix}border-width-medium
  );
  --#{variables.$prefix}dialogue-message-top-offset: calc(
    (
        var(--#{variables.$prefix}dialogue-name-padding-y) * 2 +
          var(--#{variables.$prefix}dialogue-border-width) * 2 +
          var(--#{variables.$prefix}dialogue-name-font-size)
      ) /
      2
  );
  --#{variables.$prefix}dialogue-message-arrow-top-offset: calc(
    (-1 * var(--#{variables.$prefix}dialogue-message-top-offset)) +
      (-1 * var(--#{variables.$prefix}dialogue-border-width)) +
      (-1 * var(--#{variables.$prefix}dialogue-message-arrow-height) / 2) +
      var(--#{variables.$prefix}dialogue-avatar-top-offset) +
      (var(--#{variables.$prefix}dialogue-avatar-size) / 2)
  );
  --#{variables.$prefix}dialogue-border-radius: var(
    --#{variables.$prefix}border-radius-medium
  );
  --#{variables.$prefix}dialogue-border-style: solid;
  //#endregion local css variables

  @include mixins.element();
  display: flex;
  max-width: 100%;
  margin: 0;
  padding-bottom: var(--#{variables.$prefix}dialogue-message-top-offset);
  position: relative;
  width: 100%;

  &::selection {
    color: var(--#{variables.$prefix}dialogue-color-selection-fore);
    background-color: var(--#{variables.$prefix}dialogue-color-selection-back);
  }

  &.is-avatar-circle {
    --#{variables.$prefix}dialogue-message-arrow-top-offset: calc(
      (-1 * var(--#{variables.$prefix}dialogue-message-top-offset)) +
        (-1 * var(--#{variables.$prefix}dialogue-border-width)) +
        (-1 * var(--#{variables.$prefix}dialogue-message-arrow-height) / 2) +
        var(--#{variables.$prefix}dialogue-avatar-top-offset) +
        (
          var(--#{variables.$prefix}dialogue-avatar-size) +
            var(--#{variables.$prefix}dialogue-border-width) * 2
        ) /
        2
    );
    > .dialogue-avatar-container {
      > .dialogue-avatar {
        border-radius: var(--#{variables.$prefix}border-radius-circle);
        user-select: none;
      }
    }
  }

  > .dialogue-avatar-container,
  > .dialogue-content-container {
    @include mixins.element();
    display: block;
    max-width: 100%;
    margin: 0;
    position: relative;
  }
  > .dialogue-avatar-container {
    height: auto;
    flex: 0 0 var(--#{variables.$prefix}dialogue-avatar-size);
    padding-top: var(--#{variables.$prefix}dialogue-avatar-top-offset);
    > .dialogue-avatar {
      @include mixins.element();
      aspect-ratio: 1;
      background-color: var(--#{variables.$prefix}dialogue-avatar-color-back);
      display: block;
      align-items: center;
      justify-content: center;
      height: auto;
      width: var(--#{variables.$prefix}dialogue-avatar-size);
      margin: 0 auto;
      overflow: hidden;
      &.has-border {
        border-color: var(--#{variables.$prefix}dialogue-avatar-color-border);
        border-style: var(--#{variables.$prefix}dialogue-border-style);
        border-width: var(--#{variables.$prefix}dialogue-border-width);
      }
    }
  }
  > .dialogue-content-container {
    flex: 1 1 auto;
    min-height: calc(var(--#{variables.$prefix}dialogue-avatar-size) + 1.5rem);
    > .dialogue-name,
    > .dialogue-message {
      min-height: 1rem;
      border-radius: var(--#{variables.$prefix}dialogue-border-radius);
      border-width: var(--#{variables.$prefix}dialogue-border-width);
      border-style: var(--#{variables.$prefix}dialogue-border-style);
    }
    > .dialogue-name {
      @include mixins.element();
      background-color: var(--#{variables.$prefix}dialogue-name-color-back);
      border-color: var(--#{variables.$prefix}dialogue-name-color-border);
      color: var(--#{variables.$prefix}dialogue-name-color-fore);
      font-size: var(--#{variables.$prefix}dialogue-name-font-size);
      position: absolute;
      top: 0;
      padding: var(--#{variables.$prefix}dialogue-name-padding-y)
        var(--#{variables.$prefix}dialogue-name-padding-x);
      font-weight: var(--#{variables.$prefix}font-weight-bold);
      z-index: 1;
    }
    > .dialogue-message {
      @include mixins.element();
      background-color: var(--#{variables.$prefix}dialogue-message-color-back);
      border-color: var(--#{variables.$prefix}dialogue-message-color-border);
      color: var(--#{variables.$prefix}dialogue-message-color-fore);
      position: relative;
      top: var(--#{variables.$prefix}dialogue-message-top-offset);
      padding-top: calc(
        var(--#{variables.$prefix}dialogue-message-top-offset) / 2
      );
      width: auto;
      z-index: 0;
      > .dialogue-message-inner {
        padding: var(--#{variables.$prefix}dialogue-message-inner-padding-y)
          var(--#{variables.$prefix}dialogue-message-inner-padding-x);
      }
    }
  }

  &.is-left {
    > .dialogue-content-container {
      > .dialogue-name {
        right: auto;
        left: var(--#{variables.$prefix}dialogue-message-arrow-width);
      }
      padding-left: var(--#{variables.$prefix}dialogue-message-arrow-width);
      > .dialogue-message {
        right: auto;
        @include dialogue-message-arrow-base();
        &::after,
        &::before {
          border-left: none;
          right: auto;
        }
        &::before {
          border-right-color: var(
            --#{variables.$prefix}dialogue-message-color-border
          );
          border-right-width: var(
            --#{variables.$prefix}dialogue-message-arrow-width
          );
          border-right-style: solid;
          left: calc(
            (-1 * var(--#{variables.$prefix}dialogue-message-arrow-width))
          );
        }
        &::after {
          border-right-color: var(
            --#{variables.$prefix}dialogue-message-color-back
          );
          border-right-width: var(
            --#{variables.$prefix}dialogue-message-arrow-width
          );
          border-right-style: solid;
          left: calc(
            (-1 * var(--#{variables.$prefix}dialogue-message-arrow-width)) +
              var(--#{variables.$prefix}dialogue-border-width) * 2
          );
        }
      }
    }
  }
  &.is-right {
    > .dialogue-content-container {
      padding-right: var(--#{variables.$prefix}dialogue-message-arrow-width);
      > .dialogue-name {
        left: auto;
        right: var(--#{variables.$prefix}dialogue-message-arrow-width);
      }
      > .dialogue-message {
        left: auto;
        @include dialogue-message-arrow-base();
        &::after,
        &::before {
          border-right: none;
          left: auto;
        }
        &::before {
          border-left-color: var(
            --#{variables.$prefix}dialogue-message-color-border
          );
          border-left-width: var(
            --#{variables.$prefix}dialogue-message-arrow-width
          );
          border-left-style: solid;
          right: calc(
            (-1 * var(--#{variables.$prefix}dialogue-message-arrow-width))
          );
        }
        &::after {
          border-left-color: var(
            --#{variables.$prefix}dialogue-message-color-back
          );
          border-left-width: var(
            --#{variables.$prefix}dialogue-message-arrow-width
          );
          border-left-style: solid;
          right: calc(
            (-1 * var(--#{variables.$prefix}dialogue-message-arrow-width)) +
              var(--#{variables.$prefix}dialogue-border-width) * 2
          );
        }
      }
    }
  }

  @if (not variables.$is-skelton) {
    &.is-avatar-small {
      --#{variables.$prefix}dialogue-avatar-size: var(
        --#{variables.$prefix}dialogue-avatar-size-small
      );
    }
    &.is-avatar-large {
      --#{variables.$prefix}dialogue-avatar-size: var(
        --#{variables.$prefix}dialogue-avatar-size-large
      );
    }

    @each $borderWidth in variables.$borderWidths {
      $name: map.get($borderWidth, "name");
      &.is-border-width-#{$name} {
        --#{variables.$prefix}dialogue-border-width: var(
          --#{variables.$prefix}border-width-#{$name}
        );
      }
    }

    @each $border-style in variables.$borderStyles {
      &.is-border-style-#{$border-style} {
        --#{variables.$prefix}dialogue-border-style: #{$border-style};
      }
    }

    @each $color in variables.$colors {
      $colorName: map.get($color, "name");
      &.is-#{$colorName} {
        --#{variables.$prefix}dialogue-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-fore
        );
        --#{variables.$prefix}dialogue-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-back
        );
        --#{variables.$prefix}dialogue-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-border
        );
        --#{variables.$prefix}dialogue-color-selection-fore: var(
          --#{variables.$prefix}color-#{$colorName}-selection-fore
        );
        --#{variables.$prefix}dialogue-color-selection-back: var(
          --#{variables.$prefix}color-#{$colorName}-selection-back
        );
        --#{variables.$prefix}dialogue-avatar-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-avatar-back
        );
        --#{variables.$prefix}dialogue-avatar-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-avatar-border
        );
        --#{variables.$prefix}dialogue-name-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-name-fore
        );
        --#{variables.$prefix}dialogue-name-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-name-back
        );
        --#{variables.$prefix}dialogue-name-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-name-border
        );
        --#{variables.$prefix}dialogue-message-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-message-fore
        );
        --#{variables.$prefix}dialogue-message-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-message-back
        );
        --#{variables.$prefix}dialogue-message-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-message-border
        );
      }
    }
    @each $semanticColor in variables.$semanticColors {
      $colorName: map.get($semanticColor, "name");
      &.is-#{$colorName} {
        --#{variables.$prefix}dialogue-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-fore
        );
        --#{variables.$prefix}dialogue-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-back
        );
        --#{variables.$prefix}dialogue-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-border
        );
        --#{variables.$prefix}dialogue-color-selection-fore: var(
          --#{variables.$prefix}color-#{$colorName}-selection-fore
        );
        --#{variables.$prefix}dialogue-color-selection-back: var(
          --#{variables.$prefix}color-#{$colorName}-selection-back
        );
        --#{variables.$prefix}dialogue-avatar-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-avatar-back
        );
        --#{variables.$prefix}dialogue-avatar-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-avatar-border
        );
        --#{variables.$prefix}dialogue-name-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-name-fore
        );
        --#{variables.$prefix}dialogue-name-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-name-back
        );
        --#{variables.$prefix}dialogue-name-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-name-border
        );
        --#{variables.$prefix}dialogue-message-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-message-fore
        );
        --#{variables.$prefix}dialogue-message-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-message-back
        );
        --#{variables.$prefix}dialogue-message-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-dialogue-message-border
        );
      }
    }
  }
}
