@use "sass:map";
@use "../variables/index.scss" as variables;

.dialogue {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
  min-height: 7.5rem;
  margin: 0;
  padding: 0 0 1rem;
  position: relative;
  width: 100%;
  .dialogue-avatar-container,
  .dialogue-content-container {
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 0.25rem;
    position: relative;
  }
  .dialogue-avatar-container {
    height: auto;
    width: 6rem;
    .dialogue-avatar {
      position: absolute;
      top: 1.5rem;
      right: 0;
      left: 0;
      display: block;
      align-items: center;
      justify-content: center;
      height: auto;
      width: 4.5rem;
      margin: 0 auto;
      overflow: hidden;
      &.is-circle {
        background-color: var(--#{variables.$prefix}color-default-dialogue-avatar-back);
        border-color: var(--#{variables.$prefix}color-default-dialogue-avatar-border);
        border-style: solid;
        border-width: var(--#{variables.$prefix}border-width-thick);
        border-radius: var(--#{variables.$prefix}border-radius-circle);
      }
    }
  }
  .dialogue-content-container {
    width: 100%;
    .dialogue-name,
    .dialogue-message {
      border-radius: var(--#{variables.$prefix}border-radius-medium);
      border-style: solid;
      border-width: var(--#{variables.$prefix}border-width-thick);
      min-width: 10rem;
    }
    .dialogue-name {
      background-color: var(--#{variables.$prefix}color-default-dialogue-name-back);
      border-color: var(--#{variables.$prefix}color-default-dialogue-name-border);
      color: var(--#{variables.$prefix}color-default-dialogue-name-fore);
      position: absolute;
      top: 0;
      left: 0.25rem;
      right: auto;
      padding: 0.25rem 1rem;
      // text-shadow: 0.1em 0.1em 0.1em var(--#{variables.$prefix}color-default-dialogue-name-shadow),
      //   -0.1em 0.1em 0.1em var(--#{variables.$prefix}color-default-dialogue-name-shadow),
      //   0.1em -0.1em 0.1em var(--#{variables.$prefix}color-default-dialogue-name-shadow),
      //   -0.1em -0.1em 0.1em var(--#{variables.$prefix}color-default-dialogue-name-shadow),
      //   0.1em 0em 0.1em var(--#{variables.$prefix}color-default-dialogue-name-shadow),
      //   0em 0.1em 0.1em var(--#{variables.$prefix}color-default-dialogue-name-shadow),
      //   -0.1em 0em 0.1em var(--#{variables.$prefix}color-default-dialogue-name-shadow),
      //   0em -0.1em 0.1em var(--#{variables.$prefix}color-default-dialogue-name-shadow),
      //   0.2em 0.2em 0.2em var(--#{variables.$prefix}color-default-dialogue-name-shadow),
      //   -0.2em 0.2em 0.2em var(--#{variables.$prefix}color-default-dialogue-name-shadow),
      //   0.2em -0.2em 0.2em var(--#{variables.$prefix}color-default-dialogue-name-shadow),
      //   -0.2em -0.2em 0.2em var(--#{variables.$prefix}color-default-dialogue-name-shadow),
      //   0.2em 0em 0.2em var(--#{variables.$prefix}color-default-dialogue-name-shadow),
      //   0em 0.2em 0.2em var(--#{variables.$prefix}color-default-dialogue-name-shadow),
      //   -0.2em 0em 0.2em var(--#{variables.$prefix}color-default-dialogue-name-shadow),
      //   0em -0.2em 0.2em var(--#{variables.$prefix}color-default-dialogue-name-shadow);
      font-weight: var(--#{variables.$prefix}font-weight-bold);
      z-index: 1;
    }
    .dialogue-message {
      background-color: var(--#{variables.$prefix}color-default-dialogue-message-back);
      border-color: var(--#{variables.$prefix}color-default-dialogue-message-border);
      color: var(--#{variables.$prefix}color-default-dialogue-message-fore);
      position: relative;
      top: 1rem;
      right: auto;
      width: fit-content;
      min-height: 6rem;
      padding: 1rem 0.5rem 0.5rem 0.5rem;
      z-index: 0;
      &:after,
      &:before {
        border-top-color: transparent;
        border-top-style: solid;
        border-top-width: calc(var(--#{variables.$prefix}border-width-thick) + 0.5rem);
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: calc(var(--#{variables.$prefix}border-width-thick) + 0.5rem);
        border-radius: var(--#{variables.$prefix}border-radius-medium);
        content: "";
        display: block;
        height: 0;
        position: absolute;
        top: 1.25rem;
        right: auto;
        width: 0;
        z-index: -1;
      }
      &:before {
        border-right-color: var(--#{variables.$prefix}color-default-dialogue-message-border);
        border-right-width: calc(var(--#{variables.$prefix}border-width-thick) + 0.5rem);
        border-right-style: solid;
        left: -0.75rem;
      }
      &:after {
        border-right-color: var(--#{variables.$prefix}color-default-dialogue-message-back);
        border-right-width: calc(var(--#{variables.$prefix}border-width-thick) + 0.75rem);
        border-right-style: solid;
        left: -0.5rem;
      }
    }
  }
  &.is-avatar-right {
    .dialogue-content-container {
      .dialogue-name {
        background-color: var(--#{variables.$prefix}color-default-dialogue-name-back);
        border-color: var(--#{variables.$prefix}color-default-dialogue-name-border);
        color: var(--#{variables.$prefix}color-default-dialogue-name-fore);
        left: auto;
        right: 0.25rem;
      }
      .dialogue-message {
        background-color: var(--#{variables.$prefix}color-default-dialogue-message-back);
        border-color: var(--#{variables.$prefix}color-default-dialogue-message-border);
        color: var(--#{variables.$prefix}color-default-dialogue-message-fore);
        &:after,
        &:before {
          border-right: none;
          left: auto;
        }
        &:before {
          border-left-color: var(--#{variables.$prefix}color-default-dialogue-message-border);
          border-left-width: 0.75rem;
          border-left-style: solid;
          right: -0.75rem;
        }
        &:after {
          border-left-color: var(--#{variables.$prefix}color-default-dialogue-message-back);
          border-left-width: 1rem;
          border-left-style: solid;
          right: -0.5rem;
        }
      }
    }
  }
  @each $border-style in variables.$borderStyles {
    &.is-border-style-#{$border-style} {
      .dialogue-avatar-container {
        .dialogue-avatar {
          &.is-circle {
            border-style: #{$border-style};
          }
        }
      }
      .dialogue-content-container {
        .dialogue-name,
        .dialogue-message {
          border-style: #{$border-style};
        }
      }
    }
  }
  @each $color in variables.$colors {
    $colorName: map.get($color, "name");
    &.is-#{$colorName} {
      .dialogue-avatar-container {
        .dialogue-avatar {
          &.is-circle {
            background-color: var(--#{variables.$prefix}color-#{$colorName}-dialogue-avatar-back);
            border-color: var(--#{variables.$prefix}color-#{$colorName}-dialogue-avatar-border);
          }
        }
      }
      .dialogue-content-container {
        .dialogue-name {
          background-color: var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-back);
          border-color: var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-border);
          color: var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-fore);
          // text-shadow: 0.1em 0.1em 0.1em var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-shadow),
          //   -0.1em 0.1em 0.1em var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-shadow),
          //   0.1em -0.1em 0.1em var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-shadow),
          //   -0.1em -0.1em 0.1em var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-shadow),
          //   0.1em 0em 0.1em var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-shadow),
          //   0em 0.1em 0.1em var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-shadow),
          //   -0.1em 0em 0.1em var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-shadow),
          //   0em -0.1em 0.1em var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-shadow),
          //   0.2em 0.2em 0.2em var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-shadow),
          //   -0.2em 0.2em 0.2em var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-shadow),
          //   0.2em -0.2em 0.2em var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-shadow),
          //   -0.2em -0.2em 0.2em var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-shadow),
          //   0.2em 0em 0.2em var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-shadow),
          //   0em 0.2em 0.2em var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-shadow),
          //   -0.2em 0em 0.2em var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-shadow),
          //   0em -0.2em 0.2em var(--#{variables.$prefix}color-#{$colorName}-dialogue-name-shadow);
        }
        .dialogue-message {
          background-color: var(--#{variables.$prefix}color-#{$colorName}-dialogue-message-back);
          border-color: var(--#{variables.$prefix}color-#{$colorName}-dialogue-message-border);
          color: var(--#{variables.$prefix}color-#{$colorName}-dialogue-message-fore);
          &:after {
            border-right-color: var(--#{variables.$prefix}color-#{$colorName}-dialogue-message-back);
            border-left-color: var(--#{variables.$prefix}color-#{$colorName}-dialogue-message-back);
          }
          &:before {
            border-right-color: var(--#{variables.$prefix}color-#{$colorName}-dialogue-message-border);
            border-left-color: var(--#{variables.$prefix}color-#{$colorName}-dialogue-message-border);
          }
        }
      }
    }
  }
}
