@use "sass:map";
@use "../variables/index.scss" as variables;

@mixin dialogue-message-arrow-base() {
  &:after,
  &:before {
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: calc(
      var(--#{variables.$prefix}dialogue-messege-arrow-height) / 2
    );
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: calc(
      var(--#{variables.$prefix}dialogue-messege-arrow-height) / 2
    );
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: var(--#{variables.$prefix}dialogue-messege-arrow-top-offset);
    right: auto;
    width: 0;
    z-index: -1;
  }
}

.dialogue {
  --#{variables.$prefix}dialogue-avatar-size: var(
    --#{variables.$prefix}dialogue-avatar-size-default
  );
  --#{variables.$prefix}dialogue-border-width: var(
    --#{variables.$prefix}border-width-medium
  );
  --#{variables.$prefix}dialogue-messege-top-offset: calc(
    (
        var(--#{variables.$prefix}dialogue-name-padding-y) * 2 +
          var(--#{variables.$prefix}dialogue-border-width) * 2 +
          var(--#{variables.$prefix}dialogue-name-font-size)
      ) / 2
  );
  --#{variables.$prefix}dialogue-messege-arrow-top-offset: calc(
    (-1 * var(--#{variables.$prefix}dialogue-messege-top-offset)) +
      (-1 * var(--#{variables.$prefix}dialogue-border-width)) +
      (-1 * var(--#{variables.$prefix}dialogue-messege-arrow-height) / 2) +
      var(--#{variables.$prefix}dialogue-avatar-top-offset) +
      (var(--#{variables.$prefix}dialogue-avatar-size) / 2)
  );

  display: flex;
  max-width: 100%;
  margin: 0;
  padding-bottom: var(--#{variables.$prefix}dialogue-messege-top-offset);
  position: relative;
  width: 100%;
  &.is-avatar-small {
    --#{variables.$prefix}dialogue-avatar-size: var(
      --#{variables.$prefix}dialogue-avatar-size-small
    );
  }
  &.is-avatar-large {
    --#{variables.$prefix}dialogue-avatar-size: var(
      --#{variables.$prefix}dialogue-avatar-size-large
    );
  }
  &.is-avatar-circle {
    --#{variables.$prefix}dialogue-messege-arrow-top-offset: calc(
      (-1 * var(--#{variables.$prefix}dialogue-messege-top-offset)) +
        (-1 * var(--#{variables.$prefix}dialogue-border-width)) +
        (-1 * var(--#{variables.$prefix}dialogue-messege-arrow-height) / 2) +
        var(--#{variables.$prefix}dialogue-avatar-top-offset) +
        (
          var(--#{variables.$prefix}dialogue-avatar-size) +
            var(--#{variables.$prefix}dialogue-border-width) * 2
        ) / 2
    );
    > .dialogue-avatar-container {
      > .dialogue-avatar {
        background-color: var(
          --#{variables.$prefix}color-default-dialogue-avatar-back
        );
        border-color: var(
          --#{variables.$prefix}color-default-dialogue-avatar-border
        );
        border-style: solid;
        border-width: var(--#{variables.$prefix}dialogue-border-width);
        border-radius: var(--#{variables.$prefix}border-radius-circle);
      }
    }
  }

  @each $borderWidth in variables.$borderWidths {
    $name: map.get($borderWidth, "name");
    &.is-border-width-#{$name} {
      --#{variables.$prefix}dialogue-border-width: var(
        --#{variables.$prefix}border-width-#{$name}
      );
    }
  }

  > .dialogue-avatar-container,
  > .dialogue-content-container {
    display: block;
    max-width: 100%;
    margin: 0;
    position: relative;
  }
  > .dialogue-avatar-container {
    height: auto;
    flex: 0 0 var(--#{variables.$prefix}dialogue-avatar-size);
    padding-top: var(--#{variables.$prefix}dialogue-avatar-top-offset);
    > .dialogue-avatar {
      aspect-ratio: 1;
      display: block;
      align-items: center;
      justify-content: center;
      height: auto;
      width: var(--#{variables.$prefix}dialogue-avatar-size);
      margin: 0 auto;
      overflow: hidden;
    }
  }
  > .dialogue-content-container {
    flex: 1 1 auto;
    min-height: calc(var(--#{variables.$prefix}dialogue-avatar-size) + 1.5rem);
    > .dialogue-name,
    > .dialogue-message {
      min-height: 1rem;
      border-radius: var(--#{variables.$prefix}border-radius-medium);
      border-style: solid;
      border-width: var(--#{variables.$prefix}dialogue-border-width);
    }
    > .dialogue-name {
      background-color: var(
        --#{variables.$prefix}color-default-dialogue-name-back
      );
      border-color: var(
        --#{variables.$prefix}color-default-dialogue-name-border
      );
      color: var(--#{variables.$prefix}color-default-dialogue-name-fore);
      font-size: var(--#{variables.$prefix}dialogue-name-font-size);
      position: absolute;
      top: 0;
      padding: var(--#{variables.$prefix}dialogue-name-padding-y)
        var(--#{variables.$prefix}dialogue-name-padding-x);
      font-weight: var(--#{variables.$prefix}font-weight-bold);
      z-index: 1;
    }
    > .dialogue-message {
      background-color: var(
        --#{variables.$prefix}color-default-dialogue-message-back
      );
      border-color: var(
        --#{variables.$prefix}color-default-dialogue-message-border
      );
      color: var(--#{variables.$prefix}color-default-dialogue-message-fore);
      position: relative;
      top: var(--#{variables.$prefix}dialogue-messege-top-offset);
      padding-top: calc(
        var(--#{variables.$prefix}dialogue-messege-top-offset) / 2
      );
      width: auto;
      z-index: 0;
      > .dialogue-message-inner {
        padding: var(--#{variables.$prefix}dialogue-message-inner-padding-y)
          var(--#{variables.$prefix}dialogue-message-inner-padding-x);
      }
    }
  }

  &.is-left {
    > .dialogue-content-container {
      > .dialogue-name {
        right: auto;
        left: var(--#{variables.$prefix}dialogue-messege-arrow-width);
      }
      padding-left: var(--#{variables.$prefix}dialogue-messege-arrow-width);
      > .dialogue-message {
        right: auto;
        @include dialogue-message-arrow-base();
        &:after,
        &:before {
          border-left: none;
          right: auto;
        }
        &:before {
          border-right-color: var(
            --#{variables.$prefix}color-default-dialogue-message-border
          );
          border-right-width: var(
            --#{variables.$prefix}dialogue-messege-arrow-width
          );
          border-right-style: solid;
          left: calc(
            (-1 * var(--#{variables.$prefix}dialogue-messege-arrow-width))
          );
        }
        &:after {
          border-right-color: var(
            --#{variables.$prefix}color-default-dialogue-message-back
          );
          border-right-width: var(
            --#{variables.$prefix}dialogue-messege-arrow-width
          );
          border-right-style: solid;
          left: calc(
            (-1 * var(--#{variables.$prefix}dialogue-messege-arrow-width)) +
              var(--#{variables.$prefix}dialogue-border-width) * 2
          );
        }
      }
    }
  }
  &.is-right {
    > .dialogue-content-container {
      padding-right: var(--#{variables.$prefix}dialogue-messege-arrow-width);
      > .dialogue-name {
        left: auto;
        right: var(--#{variables.$prefix}dialogue-messege-arrow-width);
      }
      > .dialogue-message {
        left: auto;
        @include dialogue-message-arrow-base();
        &:after,
        &:before {
          border-right: none;
          left: auto;
        }
        &:before {
          border-left-color: var(
            --#{variables.$prefix}color-default-dialogue-message-border
          );
          border-left-width: var(
            --#{variables.$prefix}dialogue-messege-arrow-width
          );
          border-left-style: solid;
          right: calc(
            (-1 * var(--#{variables.$prefix}dialogue-messege-arrow-width))
          );
        }
        &:after {
          border-left-color: var(
            --#{variables.$prefix}color-default-dialogue-message-back
          );
          border-left-width: var(
            --#{variables.$prefix}dialogue-messege-arrow-width
          );
          border-left-style: solid;
          right: calc(
            (-1 * var(--#{variables.$prefix}dialogue-messege-arrow-width)) +
              var(--#{variables.$prefix}dialogue-border-width) * 2
          );
        }
      }
    }
  }
  @each $border-style in variables.$borderStyles {
    &.is-border-style-#{$border-style} {
      &.is-avatar-circle {
        > .dialogue-avatar-container {
          > .dialogue-avatar {
            border-style: #{$border-style};
          }
        }
      }
      > .dialogue-content-container {
        > .dialogue-name,
        > .dialogue-message {
          border-style: #{$border-style};
        }
      }
    }
  }

  @if (not variables.$is-skelton) {
    @each $color in variables.$colors {
      $colorName: map.get($color, "name");
      &.is-#{$colorName} {
        > .dialogue-avatar-container {
          > .dialogue-avatar {
            background-color: var(
              --#{variables.$prefix}color-#{$colorName}-dialogue-avatar-back
            );
            border-color: var(
              --#{variables.$prefix}color-#{$colorName}-dialogue-avatar-border
            );
          }
        }
        > .dialogue-content-container {
          > .dialogue-name {
            background-color: var(
              --#{variables.$prefix}color-#{$colorName}-dialogue-name-back
            );
            border-color: var(
              --#{variables.$prefix}color-#{$colorName}-dialogue-name-border
            );
            color: var(
              --#{variables.$prefix}color-#{$colorName}-dialogue-name-fore
            );
          }
          > .dialogue-message {
            background-color: var(
              --#{variables.$prefix}color-#{$colorName}-dialogue-message-back
            );
            border-color: var(
              --#{variables.$prefix}color-#{$colorName}-dialogue-message-border
            );
            color: var(
              --#{variables.$prefix}color-#{$colorName}-dialogue-message-fore
            );
            &:after {
              border-right-color: var(
                --#{variables.$prefix}color-#{$colorName}-dialogue-message-back
              );
              border-left-color: var(
                --#{variables.$prefix}color-#{$colorName}-dialogue-message-back
              );
            }
            &:before {
              border-right-color: var(
                --#{variables.$prefix}color-#{$colorName}-dialogue-message-border
              );
              border-left-color: var(
                --#{variables.$prefix}color-#{$colorName}-dialogue-message-border
              );
            }
          }
        }
      }
    }
  }
}
