@use "sass:map";
@use "../variables/index.scss" as variables;
@use "../mixins/index.scss" as mixins;

:where(.footer) {
  --#{variables.$prefix}color-footer-fore: var(
    --#{variables.$prefix}color-default-footer-fore
  );
  --#{variables.$prefix}color-footer-back: var(
    --#{variables.$prefix}color-default-footer-back
  );

  @include mixins.element();

  background-color: var(--#{variables.$prefix}color-footer-back);
  color: var(--#{variables.$prefix}color-footer-fore);
  padding: 2rem 0;
  bottom: 0;

  @if (not variables.$is-skelton) {
    @each $color in variables.$colors {
      $colorName: map.get($color, "name");
      &.is-#{$colorName} {
        --#{variables.$prefix}color-footer-fore: var(
          --#{variables.$prefix}color-#{$colorName}-footer-fore
        );
        --#{variables.$prefix}color-footer-back: var(
          --#{variables.$prefix}color-#{$colorName}-footer-back
        );
      }
    }
  }
}
