@use "sass:map";
@use "../variables/index.scss" as variables;
@use "../mixins/index.scss" as mixins;

:where(.hamburger) {
  --#{variables.$prefix}hamburger-color-fore: var(
    --#{variables.$prefix}color-default-hamburger-fore,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}hamburger-line-color-back: var(
    --#{variables.$prefix}color-default-hamburger-line-back,
    var(--#{variables.$prefix}color-default-border)
  );

  --#{variables.$prefix}hamburger-size: 3.5rem;
  --#{variables.$prefix}hamburger-line-height: 0.2rem;

  @include mixins.element();
  color: var(--#{variables.$prefix}hamburger-color-fore);
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  height: var(--#{variables.$prefix}hamburger-size);
  position: relative;
  touch-action: manipulation;
  user-select: none;
  width: var(--#{variables.$prefix}hamburger-size);
  .crown,
  .upperpatty,
  .club,
  .lowerpatty,
  .heel {
    display: inline-block;
    opacity: 1;
    position: absolute;
    transform-origin: center;
    left: 0;
    margin: 0 auto;
    right: 0;
  }
  .crown {
    font-size: 0.5em;
    line-height: 1;
    text-align: center;
    top: 0.25em;
    width: var(--#{variables.$prefix}hamburger-size);
  }
  .upperpatty {
    animation: hamburger-upperpatty 0.75s forwards;
    background-color: var(--#{variables.$prefix}hamburger-line-color-back);
    height: var(--#{variables.$prefix}hamburger-line-height);
    top: calc(
      (-1 * var(--#{variables.$prefix}hamburger-line-height)) -
        (var(--#{variables.$prefix}hamburger-size) / 5) + 50%
    );
    width: calc(var(--#{variables.$prefix}hamburger-size) / 5 * 3);
  }
  .club {
    background-color: var(--#{variables.$prefix}hamburger-line-color-back);
    height: var(--#{variables.$prefix}hamburger-line-height);
    top: calc((-1 * var(--#{variables.$prefix}hamburger-line-height)) + 50%);
    transition: all 0.25s 0.25s;
    width: calc(var(--#{variables.$prefix}hamburger-size) / 5 * 3);
  }
  .lowerpatty {
    animation: hamburger-lowerpatty 0.75s forwards;
    background-color: var(--#{variables.$prefix}hamburger-line-color-back);
    height: var(--#{variables.$prefix}hamburger-line-height);
    top: calc(
      (-1 * var(--#{variables.$prefix}hamburger-line-height)) +
        (var(--#{variables.$prefix}hamburger-size)/ 5) + 50%
    );
    width: calc(var(--#{variables.$prefix}hamburger-size) / 5 * 3);
  }
  .heel {
    bottom: 0.5em;
    font-size: 0.5em;
    line-height: 1;
    text-align: center;
    width: var(--#{variables.$prefix}hamburger-size);
  }
  &.is-active {
    .upperpatty {
      animation: hamburger-upperpatty-is-active 0.75s forwards;
      top: 50%;
    }
    .club {
      opacity: 0;
    }
    .lowerpatty {
      animation: hamburger-lowerpatty-is-active 0.75s forwards;
      top: 50%;
    }
  }

  @if (not variables.$is-skelton) {
    @each $color in variables.$colors {
      $colorName: map.get($color, "name");
      &.is-#{$colorName} {
        --#{variables.$prefix}hamburger-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-hamburger-fore,
          var(--#{variables.$prefix}color-#{$colorName}-fore)
        );
        --#{variables.$prefix}hamburger-line-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-hamburger-line-back,
          var(--#{variables.$prefix}color-#{$colorName}-border)
        );
      }
    }
    @each $semanticColor in variables.$semanticColors {
      $colorName: map.get($semanticColor, "name");
      &.is-#{$colorName} {
        --#{variables.$prefix}hamburger-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-hamburger-fore,
          var(--#{variables.$prefix}color-#{$colorName}-fore)
        );
        --#{variables.$prefix}hamburger-line-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-hamburger-line-back,
          var(--#{variables.$prefix}color-#{$colorName}-border)
        );
      }
    }
  }
}

//#region keyframes
@keyframes hamburger-upperpatty {
  0% {
    transform: rotate(45deg);
    top: calc((-1 * var(--#{variables.$prefix}hamburger-line-height)) + 50%);
  }
  50% {
    transform: rotate(0deg);
    top: calc((-1 * var(--#{variables.$prefix}hamburger-line-height)) + 50%);
  }
  100% {
    transform: rotate(0deg);
    top: calc(
      (-1 * var(--#{variables.$prefix}hamburger-line-height)) -
        (var(--#{variables.$prefix}hamburger-size) / 5) + 50%
    );
  }
}

@keyframes hamburger-upperpatty-is-active {
  0% {
    transform: rotate(0deg);
    top: calc(
      (-1 * var(--#{variables.$prefix}hamburger-line-height)) -
        (var(--#{variables.$prefix}hamburger-size) / 5) + 50%
    );
  }
  50% {
    transform: rotate(0deg);
    top: calc((-1 * var(--#{variables.$prefix}hamburger-line-height)) + 50%);
  }
  100% {
    transform: rotate(45deg);
    top: calc((-1 * var(--#{variables.$prefix}hamburger-line-height)) + 50%);
  }
}
@keyframes hamburger-lowerpatty {
  0% {
    transform: rotate(-45deg);
    top: calc((-1 * var(--#{variables.$prefix}hamburger-line-height)) + 50%);
  }
  50% {
    transform: rotate(0deg);
    top: calc((-1 * var(--#{variables.$prefix}hamburger-line-height)) + 50%);
  }
  100% {
    transform: rotate(0deg);
    top: calc(
      (-1 * var(--#{variables.$prefix}hamburger-line-height)) +
        (var(--#{variables.$prefix}hamburger-size) / 5) + 50%
    );
  }
}
@keyframes hamburger-lowerpatty-is-active {
  0% {
    transform: rotate(0deg);
    top: calc(
      (-1 * var(--#{variables.$prefix}hamburger-line-height)) +
        (var(--#{variables.$prefix}hamburger-size) / 5) + 50%
    );
  }
  50% {
    transform: rotate(0deg);
    top: calc((-1 * var(--#{variables.$prefix}hamburger-line-height)) + 50%);
  }
  100% {
    transform: rotate(-45deg);
    top: calc((-1 * var(--#{variables.$prefix}hamburger-line-height)) + 50%);
  }
}
//#endregion keyframes
