@use "sass:map";
@use "../variables/index.scss" as variables;
@use "../mixins/index.scss" as mixins;

.link {
  @include mixins.element();
  color: var(--#{variables.$prefix}color-default-link-fore);
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  :focus:not(:focus-visible) {
    outline: none;
  }
  &:visited {
    color: var(--#{variables.$prefix}color-default-link-visited-fore);
  }
  @if (not variables.$is-skelton) {
    @each $color in variables.$colors {
      $colorName: map.get($color, "name");
      &.is-#{$colorName} {
        color: var(--#{variables.$prefix}color-#{$colorName}-link-fore);
        &:visited {
          color: var(--#{variables.$prefix}color-#{$colorName}-link-visited-fore);
        }
      }
    }
  }
}
