@use "sass:map";
@use "../variables/index.scss" as variables;
@use "../mixins/index.scss" as mixins;

:where(.message) {
  //#region local css variables
  --#{variables.$prefix}message-color-fore: var(
    --#{variables.$prefix}color-default-message-fore
  );
  --#{variables.$prefix}message-color-back: var(
    --#{variables.$prefix}color-default-message-back
  );
  --#{variables.$prefix}message-color-border: var(
    --#{variables.$prefix}color-default-message-border
  );
  --#{variables.$prefix}message-color-selection-fore: var(
    --#{variables.$prefix}color-default-message-selection-fore,
    var(--#{variables.$prefix}color-default-selection-fore)
  );
  --#{variables.$prefix}message-color-selection-back: var(
    --#{variables.$prefix}color-default-message-selection-back,
    var(--#{variables.$prefix}color-default-selection-back)
  );

  --#{variables.$prefix}message-header-color-fore: var(
    --#{variables.$prefix}color-default-message-header-fore
  );
  --#{variables.$prefix}message-header-color-back: var(
    --#{variables.$prefix}color-default-message-header-back
  );
  --#{variables.$prefix}message-header-color-border: var(
    --#{variables.$prefix}color-default-message-header-border
  );

  --#{variables.$prefix}message-body-color-fore: var(
    --#{variables.$prefix}color-default-message-body-fore
  );
  --#{variables.$prefix}message-body-color-back: var(
    --#{variables.$prefix}color-default-message-body-back
  );
  --#{variables.$prefix}message-body-color-border: var(
    --#{variables.$prefix}color-default-message-body-border
  );
  //#endregion local css variables

  @include mixins.element();
  display: block;
  background-color: var(--#{variables.$prefix}message-color-back);
  border-color: var(--#{variables.$prefix}message-color-border);
  border-radius: var(--#{variables.$prefix}border-radius-medium);
  border-style: solid;
  border-width: var(--#{variables.$prefix}border-width-thin);
  color: var(--#{variables.$prefix}color-message-fore);

  &::selection {
    color: var(--#{variables.$prefix}message-color-selection-fore);
    background-color: var(--#{variables.$prefix}message-color-selection-back);
  }

  > :where(.message-header) {
    @include mixins.element();
    background-color: var(--#{variables.$prefix}message-header-color-back);
    border-radius: var(--#{variables.$prefix}border-radius-medium)
      var(--#{variables.$prefix}border-radius-medium) 0 0;
    color: var(--#{variables.$prefix}message-header-color-fore);
    display: block;
    font-size: var(--#{variables.$prefix}font-size-medium);
    font-weight: var(--#{variables.$prefix}font-weight-semibold);
    padding: 0.5rem;
  }
  > :where(.message-body) {
    @include mixins.element();
    background-color: var(--#{variables.$prefix}message-body-color-back);
    border-radius: 0 0 var(--#{variables.$prefix}border-radius-medium)
      var(--#{variables.$prefix}border-radius-medium);
    color: var(--#{variables.$prefix}message-body-color-fore);
    display: block;
    padding: 0.5rem;

    &:first-child {
      border-radius: var(--#{variables.$prefix}border-radius-medium);
    }
  }

  @if (not variables.$is-skelton) {
    @each $color in variables.$allColors {
      $colorName: map.get($color, "name");
      &.is-#{$colorName} {
        --#{variables.$prefix}message-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-message-fore
        );
        --#{variables.$prefix}message-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-message-back
        );
        --#{variables.$prefix}message-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-message-border
        );
        --#{variables.$prefix}message-color-selection-fore: var(
          --#{variables.$prefix}color-#{$colorName}-message-selection-fore,
          var(--#{variables.$prefix}color-#{$colorName}-selection-fore)
        );
        --#{variables.$prefix}message-color-selection-back: var(
          --#{variables.$prefix}color-#{$colorName}-message-selection-back,
          var(--#{variables.$prefix}color-#{$colorName}-selection-back)
        );

        --#{variables.$prefix}message-header-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-message-header-fore
        );
        --#{variables.$prefix}message-header-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-message-header-back
        );
        --#{variables.$prefix}message-header-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-message-header-border
        );

        --#{variables.$prefix}message-body-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-message-body-fore
        );
        --#{variables.$prefix}message-body-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-message-body-back
        );
        --#{variables.$prefix}message-body-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-message-body-border
        );
      }
    }
  }
}
