@use "sass:map";
@use "../variables/index.scss" as variables;

.modal {
  align-items: center;
  background-color: oklch(var(--#{variables.$prefix}color-default-back-oklch) / 0.75);
  display: none;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--#{variables.$prefix}z-index-modal);
  &.is-active {
    display: flex;
  }
  >.modal-content {
    max-height: 100%;
    max-width: 100%;
    min-height: 2rem;
    min-width: 2rem;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: var(--#{variables.$prefix}z-index-modal-content);
  }
  @if (not variables.$is-skelton) {
    @each $color in variables.$colors {
    $colorName: map.get($color, "name");
      &.is-#{$colorName} {
        background-color: oklch(var(--#{variables.$prefix}color-#{$colorName}-back-oklch) / 0.75);
      }
    }
  }
}
