@use "sass:map";
@use "../variables/index.scss" as variables;
@use "../mixins/index.scss" as mixins;

@mixin nav-menu-item-base() {
  @include mixins.element();
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  line-height: 1.5;
  max-width: 100%;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  color: var(--#{variables.$prefix}nav-menu-item-color-fore);
  text-shadow:
    2px 2px 1px
      oklch(
        from var(--#{variables.$prefix}nav-menu-item-color-shadow) l c h /
          var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
      ),
    -2px 2px 1px
      oklch(
        from var(--#{variables.$prefix}nav-menu-item-color-shadow) l c h /
          var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
      ),
    2px -2px 1px
      oklch(
        from var(--#{variables.$prefix}nav-menu-item-color-shadow) l c h /
          var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
      ),
    -2px -2px 1px
      oklch(
        from var(--#{variables.$prefix}nav-menu-item-color-shadow) l c h /
          var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
      ),
    2px 0px 1px
      oklch(
        from var(--#{variables.$prefix}nav-menu-item-color-shadow) l c h /
          var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
      ),
    0px 2px 1px
      oklch(
        from var(--#{variables.$prefix}nav-menu-item-color-shadow) l c h /
          var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
      ),
    -2px 0px 1px
      oklch(
        from var(--#{variables.$prefix}nav-menu-item-color-shadow) l c h /
          var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
      ),
    0px -2px 1px
      oklch(
        from var(--#{variables.$prefix}nav-menu-item-color-shadow) l c h /
          var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
      );
  > .nav-menu-item-icon {
    @include mixins.element();
    filter: drop-shadow(
        2px 2px 1px var(--#{variables.$prefix}nav-menu-item-color-shadow)
      )
      drop-shadow(
        -2px 2px 1px var(--#{variables.$prefix}nav-menu-item-color-shadow)
      )
      drop-shadow(
        2px -2px 1px var(--#{variables.$prefix}nav-menu-item-color-shadow)
      )
      drop-shadow(
        -2px -2px 1px var(--#{variables.$prefix}nav-menu-item-color-shadow)
      );
  }
  &[onclick],
  &:any-link,
  &.is-clickable {
    cursor: pointer;
    &:focus,
    &.is-focus,
    &.is-focused {
      color: var(--#{variables.$prefix}nav-menu-item-color-focus-fore);
      text-shadow:
        2px 2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-focus-shadow) l c
              h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        -2px 2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-focus-shadow) l c
              h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        2px -2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-focus-shadow) l c
              h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        -2px -2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-focus-shadow) l c
              h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        2px 0px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-focus-shadow) l c
              h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        0px 2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-focus-shadow) l c
              h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        -2px 0px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-focus-shadow) l c
              h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        0px -2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-focus-shadow) l c
              h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          );
      > .nav-menu-item-icon {
        filter: drop-shadow(
            2px 2px 1px
              oklch(
                from var(--#{variables.$prefix}nav-menu-item-color-hover-shadow)
                  l c h /
                  var(
                    --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha
                  )
              )
          )
          drop-shadow(
            -2px 2px 1px
              oklch(
                from var(--#{variables.$prefix}nav-menu-item-color-hover-shadow)
                  l c h /
                  var(
                    --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha
                  )
              )
          )
          drop-shadow(
            2px -2px 1px
              oklch(
                from var(--#{variables.$prefix}nav-menu-item-color-hover-shadow)
                  l c h /
                  var(
                    --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha
                  )
              )
          )
          drop-shadow(
            -2px -2px 1px
              oklch(
                from var(--#{variables.$prefix}nav-menu-item-color-hover-shadow)
                  l c h /
                  var(
                    --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha
                  )
              )
          );
      }
    }

    &:hover,
    &.is-hover,
    &.is-hovered {
      color: var(--#{variables.$prefix}nav-menu-item-color-hover-fore);
      text-shadow:
        2px 2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-hover-shadow) l c
              h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        -2px 2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-hover-shadow) l c
              h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        2px -2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-hover-shadow) l c
              h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        -2px -2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-hover-shadow) l c
              h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        2px 0px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-hover-shadow) l c
              h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        0px 2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-hover-shadow) l c
              h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        -2px 0px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-hover-shadow) l c
              h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        0px -2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-hover-shadow) l c
              h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          );
      > .nav-menu-item-icon {
        filter: drop-shadow(
            2px 2px 1px
              oklch(
                from var(--#{variables.$prefix}nav-menu-item-color-hover-shadow)
                  l c h /
                  var(
                    --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha
                  )
              )
          )
          drop-shadow(
            -2px 2px 1px
              oklch(
                from var(--#{variables.$prefix}nav-menu-item-color-hover-shadow)
                  l c h /
                  var(
                    --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha
                  )
              )
          )
          drop-shadow(
            2px -2px 1px
              oklch(
                from var(--#{variables.$prefix}nav-menu-item-color-hover-shadow)
                  l c h /
                  var(
                    --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha
                  )
              )
          )
          drop-shadow(
            -2px -2px 1px
              oklch(
                from var(--#{variables.$prefix}nav-menu-item-color-hover-shadow)
                  l c h /
                  var(
                    --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha
                  )
              )
          );
      }
    }

    &:active,
    &.is-active {
      color: var(--#{variables.$prefix}nav-menu-item-color-active-fore);
      text-shadow:
        2px 2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-active-shadow) l
              c h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        -2px 2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-active-shadow) l
              c h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        2px -2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-active-shadow) l
              c h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        -2px -2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-active-shadow) l
              c h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        2px 0px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-active-shadow) l
              c h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        0px 2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-active-shadow) l
              c h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        -2px 0px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-active-shadow) l
              c h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        0px -2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-active-shadow) l
              c h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          );
      > .nav-menu-item-icon {
        filter: drop-shadow(
            2px 2px 1px
              oklch(
                from
                  var(--#{variables.$prefix}nav-menu-item-color-active-shadow) l
                  c h /
                  var(
                    --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha
                  )
              )
          )
          drop-shadow(
            -2px 2px 1px
              oklch(
                from
                  var(--#{variables.$prefix}nav-menu-item-color-active-shadow) l
                  c h /
                  var(
                    --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha
                  )
              )
          )
          drop-shadow(
            2px -2px 1px
              oklch(
                from
                  var(--#{variables.$prefix}nav-menu-item-color-active-shadow) l
                  c h /
                  var(
                    --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha
                  )
              )
          )
          drop-shadow(
            -2px -2px 1px
              oklch(
                from
                  var(--#{variables.$prefix}nav-menu-item-color-active-shadow) l
                  c h /
                  var(
                    --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha
                  )
              )
          );
      }
    }

    &[disabled],
    fieldset[disabled],
    &.is-disabled {
      color: var(--#{variables.$prefix}nav-menu-item-color-disabled-fore);
      text-shadow:
        2px 2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-disabled-shadow)
              l c h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        -2px 2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-disabled-shadow)
              l c h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        2px -2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-disabled-shadow)
              l c h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        -2px -2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-disabled-shadow)
              l c h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        2px 0px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-disabled-shadow)
              l c h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        0px 2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-disabled-shadow)
              l c h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        -2px 0px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-disabled-shadow)
              l c h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          ),
        0px -2px 1px
          oklch(
            from var(--#{variables.$prefix}nav-menu-item-color-disabled-shadow)
              l c h /
              var(--#{variables.$prefix}nav-menu-item-color-text-shadow-alpha)
          );
      > .nav-menu-item-icon {
        filter: drop-shadow(
            2px 2px 1px
              oklch(
                from
                  var(--#{variables.$prefix}nav-menu-item-color-disabled-shadow)
                  l c h /
                  var(
                    --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha
                  )
              )
          )
          drop-shadow(
            -2px 2px 1px
              oklch(
                from
                  var(--#{variables.$prefix}nav-menu-item-color-disabled-shadow)
                  l c h /
                  var(
                    --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha
                  )
              )
          )
          drop-shadow(
            2px -2px 1px
              oklch(
                from
                  var(--#{variables.$prefix}nav-menu-item-color-disabled-shadow)
                  l c h /
                  var(
                    --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha
                  )
              )
          )
          drop-shadow(
            -2px -2px 1px
              oklch(
                from
                  var(--#{variables.$prefix}nav-menu-item-color-disabled-shadow)
                  l c h /
                  var(
                    --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha
                  )
              )
          );
      }
    }
  }
}

:where(.nav) {
  --#{variables.$prefix}nav-color-fore: var(
    --#{variables.$prefix}color-default-nav-fore,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}nav-color-back: var(
    --#{variables.$prefix}color-default-nav-back,
    var(--#{variables.$prefix}color-default-back)
  );
  --#{variables.$prefix}nav-color-border: var(
    --#{variables.$prefix}color-default-nav-border,
    var(--#{variables.$prefix}color-default-border)
  );

  --#{variables.$prefix}nav-menu-item-color-fore: var(
    --#{variables.$prefix}color-default-nav-menu-item-fore,
    var(--#{variables.$prefix}color-default-fore)
  );
  --#{variables.$prefix}nav-menu-item-color-shadow: var(
    --#{variables.$prefix}color-default-nav-menu-item-shadow,
    var(--#{variables.$prefix}color-default-shadow)
  );
  --#{variables.$prefix}nav-menu-item-color-text-shadow-alpha: 0.5;

  --#{variables.$prefix}nav-menu-item-color-focus-fore: var(
    --#{variables.$prefix}color-default-nav-menu-item-focus-fore,
    var(--#{variables.$prefix}color-default-focus-fore)
  );
  --#{variables.$prefix}nav-menu-item-color-focus-shadow: var(
    --#{variables.$prefix}color-default-nav-menu-item-focus-shadow,
    var(--#{variables.$prefix}color-default-focus-shadow)
  );

  --#{variables.$prefix}nav-menu-item-color-hover-fore: var(
    --#{variables.$prefix}color-default-nav-menu-item-hover-fore,
    var(--#{variables.$prefix}color-default-hover-fore)
  );
  --#{variables.$prefix}nav-menu-item-color-hover-shadow: var(
    --#{variables.$prefix}color-default-nav-menu-item-hover-shadow,
    var(--#{variables.$prefix}color-default-hover-shadow)
  );

  --#{variables.$prefix}nav-menu-item-color-active-fore: var(
    --#{variables.$prefix}color-default-nav-menu-item-active-fore,
    var(--#{variables.$prefix}color-default-active-fore)
  );
  --#{variables.$prefix}nav-menu-item-color-active-shadow: var(
    --#{variables.$prefix}color-default-nav-menu-item-active-shadow,
    var(--#{variables.$prefix}color-default-active-shadow)
  );

  --#{variables.$prefix}nav-menu-item-color-disabled-fore: var(
    --#{variables.$prefix}color-default-nav-menu-item-disabled-fore,
    var(--#{variables.$prefix}color-default-disabled-fore)
  );
  --#{variables.$prefix}nav-menu-item-color-disabled-shadow: var(
    --#{variables.$prefix}color-default-nav-menu-item-disabled-shadow,
    var(--#{variables.$prefix}color-default-disabled-shadow)
  );

  @include mixins.element();
  min-height: 4rem;
  padding: 0.25rem 0;
  > .nav-static {
    @include mixins.element();
    @include mixins.add-responsible-visible() {
      display: flex;
      > .nav-brand {
        @include mixins.element();
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 100%;
        margin: auto;
        position: relative;
        > .nav-brand-left,
        > .nav-brand-center,
        > .nav-brand-right,
        > .left,
        > .center,
        > .right {
          @include mixins.element();
          display: block;
          flex-basis: 0;
          flex-grow: 1;
          flex-shrink: 1;
          max-width: 100%;
          margin: auto;
          position: relative;
        }
        > .nav-brand-left,
        > .left {
          margin: auto auto auto 0;
          text-align: left;
          flex-basis: 30%;
          max-width: 30%;
          width: 30%;
        }
        > .nav-brand-right,
        > .right {
          margin: auto 0 auto auto;
          text-align: right;
        }
      }
      > .nav-menu {
        @include mixins.element();
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 100%;
        margin: auto;
        position: relative;
        > .nav-menu-item {
          @include nav-menu-item-base();
        }
      }
    }
  }

  > .nav-accordion {
    @include mixins.element();
    @include mixins.add-responsible-visible() {
      display: block;
      .nav-brand {
        @include mixins.element();
        display: flex;
        .nav-brand-left,
        .nav-brand-center,
        .nav-brand-right,
        .left,
        .center,
        .right {
          @include mixins.element();
          display: block;
          flex-basis: 0;
          flex-grow: 1;
          flex-shrink: 1;
          max-width: 100%;
          margin: auto;
          position: relative;
        }
        .nav-brand-left,
        .left {
          margin: auto auto auto 0;
          text-align: left;
        }
        .nav-brand-center,
        .center {
          margin: auto;
          text-align: center;
        }
        .nav-brand-right,
        .right {
          margin: auto 0 auto auto;
          text-align: right;
        }
      }
      .nav-menu {
        @include mixins.element();
        display: none;
        padding: 0.5rem;
        &.is-active {
          display: block;
        }
        .nav-menu-item {
          @include nav-menu-item-base();
        }
      }
    }
  }

  @if (not variables.$is-skelton) {
    @each $color in variables.$allColors {
      $colorName: map.get($color, "name");
      &.is-#{$colorName} {
        --#{variables.$prefix}nav-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-nav-fore,
          var(--#{variables.$prefix}color-#{$colorName}-fore)
        );
        --#{variables.$prefix}nav-color-back: var(
          --#{variables.$prefix}color-#{$colorName}-nav-back,
          var(--#{variables.$prefix}color-#{$colorName}-back)
        );
        --#{variables.$prefix}nav-color-border: var(
          --#{variables.$prefix}color-#{$colorName}-nav-border,
          var(--#{variables.$prefix}color-#{$colorName}-border)
        );

        --#{variables.$prefix}nav-menu-item-color-fore: var(
          --#{variables.$prefix}color-#{$colorName}-nav-menu-item-fore,
          var(--#{variables.$prefix}color-#{$colorName}-fore)
        );
        --#{variables.$prefix}nav-menu-item-color-focus-fore: var(
          --#{variables.$prefix}color-#{$colorName}-nav-menu-item-focus-fore,
          var(--#{variables.$prefix}color-#{$colorName}-focus-fore)
        );
        --#{variables.$prefix}nav-menu-item-color-hover-fore: var(
          --#{variables.$prefix}color-#{$colorName}-nav-menu-item-hover-fore,
          var(--#{variables.$prefix}color-#{$colorName}-hover-fore)
        );
        --#{variables.$prefix}nav-menu-item-color-active-fore: var(
          --#{variables.$prefix}color-#{$colorName}-nav-menu-item-active-fore,
          var(--#{variables.$prefix}color-#{$colorName}-active-fore)
        );
        --#{variables.$prefix}nav-menu-item-color-disabled-fore: var(
          --#{variables.$prefix}color-#{$colorName}-nav-menu-item-disabled-fore,
          var(--#{variables.$prefix}color-#{$colorName}-disabled-fore)
        );
        --#{variables.$prefix}nav-menu-item-color-shadow: var(
          --#{variables.$prefix}color-#{$colorName}-nav-menu-item-shadow,
          var(--#{variables.$prefix}color-#{$colorName}-shadow)
        );
        --#{variables.$prefix}nav-menu-item-color-focus-shadow: var(
          --#{variables.$prefix}color-#{$colorName}-nav-menu-item-focus-shadow,
          var(--#{variables.$prefix}color-#{$colorName}-focus-shadow)
        );
        --#{variables.$prefix}nav-menu-item-color-hover-shadow: var(
          --#{variables.$prefix}color-#{$colorName}-nav-menu-item-hover-shadow,
          var(--#{variables.$prefix}color-#{$colorName}-hover-shadow)
        );
        --#{variables.$prefix}nav-menu-item-color-active-shadow: var(
          --#{variables.$prefix}color-#{$colorName}-nav-menu-item-active-shadow,
          var(--#{variables.$prefix}color-#{$colorName}-active-shadow)
        );
        --#{variables.$prefix}nav-menu-item-color-disabled-shadow: var(
          --#{variables.$prefix}color-#{$colorName}-nav-menu-item-disabled-shadow,
          var(--#{variables.$prefix}color-#{$colorName}-disabled-shadow)
        );
      }
    }
  }
}
