@use "sass:map";
@use "../variables/index.scss" as variables;

.stripe {
  background-size: auto auto;
  @each $color in variables.$colors {
    $colorName: map.get($color, "name");
    @for $p from 2 through 17 {
      &.is-#{$colorName}-#{$p * 5} {
        background-color: var(--#{variables.$prefix}color-#{$colorName}-#{($p + 2) * 5});
        background-image: repeating-linear-gradient(
          0deg,
          transparent,
          transparent 0.75rem,
          oklch(var(--#{variables.$prefix}color-#{$colorName}-#{$p * 5}-oklch) / 0.5) 0.75rem,
          oklch(var(--#{variables.$prefix}color-#{$colorName}-#{$p * 5}-oklch) / 0.5) 1.5rem
        );
        @for $n from 0 through 8 {
          $degree: $n * 45deg;
          &.is-#{$degree} {
            background-image: repeating-linear-gradient(
              $degree,
              transparent,
              transparent 0.75rem,
              oklch(var(--#{variables.$prefix}color-#{$colorName}-#{$p * 5}-oklch) / 0.5) 0.75rem,
              oklch(var(--#{variables.$prefix}color-#{$colorName}-#{$p * 5}-oklch) / 0.5) 1.5rem
            );
          }
        }
      }
    }
  }
}
