@use "../variables/index.scss" as variables;

@mixin screen($size) {
  @if ($size == "xsmall") {
    $max-width: variables.$breakpoint-small -
      variables.$responsive-breakpoint-max-width-offset;
    @media screen and (max-width: $max-width) {
      @content;
    }
  } @else if ($size == "xlarge") {
    $min-width: variables.$breakpoint-xlarge;
    @media screen and (min-width: $min-width) {
      @content;
    }
  } @else {
    $min-width: 0;
    $max-width: 0;
    @if ($size == "small") {
      $min-width: variables.$breakpoint-small;
      $max-width: variables.$breakpoint-medium -
        variables.$responsive-breakpoint-max-width-offset;
    } @else if ($size == "medium") {
      $min-width: variables.$breakpoint-medium;
      $max-width: variables.$breakpoint-large -
        variables.$responsive-breakpoint-max-width-offset;
    } @else if ($size == "large") {
      $min-width: variables.$breakpoint-large;
      $max-width: variables.$breakpoint-xlarge -
        variables.$responsive-breakpoint-max-width-offset;
    } @else {
      @error "wrong size.";
    }
    @media screen and (min-width: $min-width) and (max-width: $max-width) {
      @content;
    }
  }
}

@mixin is-responsive($suffix: "") {
  @include screen("xsmall") {
    &.is-xsmall#{$suffix},
    &.is-small-or-less#{$suffix},
    &.is-medium-or-less#{$suffix},
    &.is-large-or-less#{$suffix} {
      @content;
    }
  }
  @include screen("small") {
    &.is-small-or-less#{$suffix},
    &.is-small#{$suffix},
    &.is-small-or-more#{$suffix},
    &.is-medium-or-less#{$suffix},
    &.is-large-or-less#{$suffix} {
      @content;
    }
  }
  @include screen("medium") {
    &.is-small-or-more#{$suffix},
    &.is-medium-or-less#{$suffix},
    &.is-medium#{$suffix},
    &.is-medium-or-more#{$suffix},
    &.is-large-or-less#{$suffix} {
      @content;
    }
  }
  @include screen("large") {
    &.is-small-or-more#{$suffix},
    &.is-medium-or-more#{$suffix},
    &.is-large-or-less#{$suffix},
    &.is-large#{$suffix},
    &.is-large-or-more#{$suffix} {
      @content;
    }
  }
  @include screen("xlarge") {
    &.is-small-or-more#{$suffix},
    &.is-medium-or-more#{$suffix},
    &.is-large-or-more#{$suffix},
    &.is-xlarge#{$suffix} {
      @content;
    }
  }
}

@mixin add-responsible-visible() {
  @content;
  &.is-xsmall {
    @include screen("small") {
      display: none !important;
    }
    @include screen("medium") {
      display: none !important;
    }
    @include screen("large") {
      display: none !important;
    }
    @include screen("xlarge") {
      display: none !important;
    }
  }

  &.is-small-or-less {
    @include screen("medium") {
      display: none !important;
    }
    @include screen("large") {
      display: none !important;
    }
    @include screen("xlarge") {
      display: none !important;
    }
  }
  &.is-small {
    @include screen("xsmall") {
      display: none !important;
    }
    @include screen("medium") {
      display: none !important;
    }
    @include screen("large") {
      display: none !important;
    }
    @include screen("xlarge") {
      display: none !important;
    }
  }
  &.is-small-or-more {
    @include screen("xsmall") {
      display: none !important;
    }
  }

  &.is-medium-or-less {
    @include screen("large") {
      display: none !important;
    }
    @include screen("xlarge") {
      display: none !important;
    }
  }
  &.is-medium {
    @include screen("xsmall") {
      display: none !important;
    }
    @include screen("small") {
      display: none !important;
    }
    @include screen("large") {
      display: none !important;
    }
    @include screen("xlarge") {
      display: none !important;
    }
  }
  &.is-medium-or-more {
    @include screen("small") {
      display: none !important;
    }
    @include screen("xsmall") {
      display: none !important;
    }
  }

  &.is-large-or-less {
    @include screen("xlarge") {
      display: none !important;
    }
  }
  &.is-large {
    @include screen("xsmall") {
      display: none !important;
    }
    @include screen("small") {
      display: none !important;
    }
    @include screen("medium") {
      display: none !important;
    }
    @include screen("xlarge") {
      display: none !important;
    }
  }
  &.is-large-or-more {
    @include screen("xsmall") {
      display: none !important;
    }
    @include screen("small") {
      display: none !important;
    }
    @include screen("medium") {
      display: none !important;
    }
  }

  &.is-xlarge {
    @include screen("xsmall") {
      display: none !important;
    }
    @include screen("small") {
      display: none !important;
    }
    @include screen("medium") {
      display: none !important;
    }
    @include screen("large") {
      display: none !important;
    }
  }
}

@mixin column() {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
  position: relative;
}
