@use "../variables/index.scss" as variables;

@mixin screen($size) {
  @if ($size == "xsmall") {
    $max-width: variables.$breakpoint-small -
      variables.$responsive-breakpoint-max-width-offset;
    @media screen and (max-width: $max-width) {
      @content;
    }
  } @else if ($size == "xlarge") {
    $min-width: variables.$breakpoint-xlarge;
    @media screen and (min-width: $min-width) {
      @content;
    }
  } @else {
    $min-width: 0;
    $max-width: 0;
    @if ($size == "small") {
      $min-width: variables.$breakpoint-small;
      $max-width: variables.$breakpoint-medium -
        variables.$responsive-breakpoint-max-width-offset;
    } @else if ($size == "medium") {
      $min-width: variables.$breakpoint-medium;
      $max-width: variables.$breakpoint-large -
        variables.$responsive-breakpoint-max-width-offset;
    } @else if ($size == "large") {
      $min-width: variables.$breakpoint-large;
      $max-width: variables.$breakpoint-xlarge -
        variables.$responsive-breakpoint-max-width-offset;
    } @else {
      @error "wrong size.";
    }
    @media screen and (min-width: $min-width) and (max-width: $max-width) {
      @content;
    }
  }
}

@mixin is-responsive($prefix: "is", $suffix: "") {
  @include screen("xsmall") {
    &.#{$prefix}-xsmall#{$suffix},
    &.#{$prefix}-small-or-less#{$suffix},
    &.#{$prefix}-medium-or-less#{$suffix},
    &.#{$prefix}-large-or-less#{$suffix} {
      @content;
    }
  }
  @include screen("small") {
    &.#{$prefix}-small-or-less#{$suffix},
    &.#{$prefix}-small#{$suffix},
    &.#{$prefix}-small-or-more#{$suffix},
    &.#{$prefix}-medium-or-less#{$suffix},
    &.#{$prefix}-large-or-less#{$suffix} {
      @content;
    }
  }
  @include screen("medium") {
    &.#{$prefix}-small-or-more#{$suffix},
    &.#{$prefix}-medium-or-less#{$suffix},
    &.#{$prefix}-medium#{$suffix},
    &.#{$prefix}-medium-or-more#{$suffix},
    &.#{$prefix}-large-or-less#{$suffix} {
      @content;
    }
  }
  @include screen("large") {
    &.#{$prefix}-small-or-more#{$suffix},
    &.#{$prefix}-medium-or-more#{$suffix},
    &.#{$prefix}-large-or-less#{$suffix},
    &.#{$prefix}-large#{$suffix},
    &.#{$prefix}-large-or-more#{$suffix} {
      @content;
    }
  }
  @include screen("xlarge") {
    &.#{$prefix}-small-or-more#{$suffix},
    &.#{$prefix}-medium-or-more#{$suffix},
    &.#{$prefix}-large-or-more#{$suffix},
    &.#{$prefix}-xlarge#{$suffix} {
      @content;
    }
  }
}

@mixin add-responsible-visible() {
  @content;
  &.is-xsmall {
    @include screen("small") {
      display: none !important;
    }
    @include screen("medium") {
      display: none !important;
    }
    @include screen("large") {
      display: none !important;
    }
    @include screen("xlarge") {
      display: none !important;
    }
  }

  &.is-small-or-less {
    @include screen("medium") {
      display: none !important;
    }
    @include screen("large") {
      display: none !important;
    }
    @include screen("xlarge") {
      display: none !important;
    }
  }
  &.is-small {
    @include screen("xsmall") {
      display: none !important;
    }
    @include screen("medium") {
      display: none !important;
    }
    @include screen("large") {
      display: none !important;
    }
    @include screen("xlarge") {
      display: none !important;
    }
  }
  &.is-small-or-more {
    @include screen("xsmall") {
      display: none !important;
    }
  }

  &.is-medium-or-less {
    @include screen("large") {
      display: none !important;
    }
    @include screen("xlarge") {
      display: none !important;
    }
  }
  &.is-medium {
    @include screen("xsmall") {
      display: none !important;
    }
    @include screen("small") {
      display: none !important;
    }
    @include screen("large") {
      display: none !important;
    }
    @include screen("xlarge") {
      display: none !important;
    }
  }
  &.is-medium-or-more {
    @include screen("small") {
      display: none !important;
    }
    @include screen("xsmall") {
      display: none !important;
    }
  }

  &.is-large-or-less {
    @include screen("xlarge") {
      display: none !important;
    }
  }
  &.is-large {
    @include screen("xsmall") {
      display: none !important;
    }
    @include screen("small") {
      display: none !important;
    }
    @include screen("medium") {
      display: none !important;
    }
    @include screen("xlarge") {
      display: none !important;
    }
  }
  &.is-large-or-more {
    @include screen("xsmall") {
      display: none !important;
    }
    @include screen("small") {
      display: none !important;
    }
    @include screen("medium") {
      display: none !important;
    }
  }

  &.is-xlarge {
    @include screen("xsmall") {
      display: none !important;
    }
    @include screen("small") {
      display: none !important;
    }
    @include screen("medium") {
      display: none !important;
    }
    @include screen("large") {
      display: none !important;
    }
  }
}

@mixin column() {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 100%;
  max-width: 100%;
  padding-top: calc(var(--#{variables.$prefix}gutter-y));
  padding-right: calc(var(--#{variables.$prefix}gutter-x) * 0.5);
  padding-left: calc(var(--#{variables.$prefix}gutter-x) * 0.5);
}
