@use "../variables/index.scss" as variables;

:where(.tabula) {
  --#{variables.$prefix}tabula-color-fore: var(
    --#{variables.$prefix}color-default-fore
  );
  --#{variables.$prefix}tabula-color-back: var(
    --#{variables.$prefix}color-default-back
  );
  --#{variables.$prefix}tabula-color-scrollbar-thumb: var(
    --#{variables.$prefix}color-default-scrollbar-thumb
  );
  --#{variables.$prefix}tabula-color-scrollbar-track: var(
    --#{variables.$prefix}color-default-scrollbar-track
  );
  --#{variables.$prefix}tabula-color-selection-fore: var(
    --#{variables.$prefix}color-default-selection-fore
  );
  --#{variables.$prefix}tabula-color-selection-back: var(
    --#{variables.$prefix}color-default-selection-back
  );

  color: var(--#{variables.$prefix}tabula-color-fore);
  background-color: var(--#{variables.$prefix}tabula-color-back);
  font-family: var(--#{variables.$prefix}font-family-main);
  z-index: var(--#{variables.$prefix}z-index-tabula);
  text-size-adjust: 100%;
  line-height: 1.5;
  letter-spacing: 0.025rem;
  text-autospace: normal;
  text-spacing-trim: trim-start;
  // scrollbar-color: var(--#{variables.$prefix}tabula-color-scrollbar-thumb)
  //   var(--#{variables.$prefix}tabula-color-scrollbar-track);

  &::selection {
    color: var(--#{variables.$prefix}tabula-color-selection-fore);
    background-color: var(--#{variables.$prefix}tabula-color-selection-back);
  }
}
